<div class="container-sm mt-2 text-white border shadow-lg p-3 mb-5  rounded" style="background-color: #2587AD;">
  <div class="text-center">
    <h2>Evaluacion del Lenguaje - Resultados</h2>
  </div>
  <h5 class="mb-0">Resumen de puntaje por Tarea</h5>
  <hr class="mt-0">
  <div>
    <table class="table  table-secondary table-sm table-striped table-bordered mb-0">
      <thead>
        <tr class="text-white">
          <th class="bg-secondary" scope="col">Tarea</th>
          <th class="bg-secondary" scope="col">Puntaje</th>
          <th class="bg-secondary" scope="col">Valoración *</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Comprensión auditiva</th>
          <td>{{ProtocolSummary.ComprensionAuditiva_Cuantitativa.SubTotal}}/6</td>
          <td> {{valuation.Auditiva}} </td>
        </tr>
        <tr>
          <th scope="row">Expresión oral:</th>
          <td>{{ProtocolSummary.ExpresionOral_Cuantitativa.SubTotal}}/6</td>
          <td> {{valuation.Oral}} </td>
        </tr>
        <tr>
          <th scope="row">Repetición: </th>
          <td>{{ProtocolSummary.Repeticion_Cuantitativa.SubTotal}}/6</td>
          <td> {{valuation.Repeticion}}  </td>
        </tr>
        <tr>
          <th scope="row">Denominación: </th>
          <td>{{ProtocolSummary.Denominacion_Cuantitativa.SubTotal}}/6</td>
          <td> {{valuation.Denominacion}} </td>
        </tr>
        <tr>
          <th scope="row">Lectura: </th>
          <td>{{ProtocolSummary.Lectura_Cuantitativa.SubTotal}}/6</td>
          <td> {{valuation.Lectura}}  </td>
        </tr>
        <tr>
          <th scope="row">Escritura:</th>
          <td>{{ProtocolSummary.Escritura_Cuantitativa.SubTotal}}/6</td>
          <td> {{valuation.Escritura}} </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <td  colspan="2">{{ProtocolSummary.Total}}/36</td>
        </tr>
      </tfoot>
    </table>
    <span style="color: rgba(255, 255, 255, 0.795);" class="mt-0">* 6: Conservado; 5 alteración leve; 3 y 4 alteración moderada; 1 y 2 alteración severa.</span>
    <!--Resumen Cualitativo-->
    <h5 class="mb-0 mt-4">Resumen de Observaciones Cualitativas</h5>
    <hr class="mt-0">
    <table class="table  table-secondary table-sm table-striped table-bordered mb-0 ">
      <thead>
        <tr class="text-white">
          <th class="bg-secondary" scope="col">Tarea</th>
          <th class="bg-secondary" scope="col">Observaciones Cualitativas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Comprensión auditiva:</th>
          <td> {{summaryCualitativa.auditivaEmparejamientoPalabraOida}}<br>
          {{summaryCualitativa.auditivaComandosOidos}} </td>
        </tr>
        <tr>
          <th scope="row">Expresión oral:</th>
          <td>{{summaryCualitativa.oralFluencia}}<br *ngIf="summaryCualitativa.oralProsodia!=null">
            {{summaryCualitativa.oralProsodia}}<br *ngIf="summaryCualitativa.oralArticulacion!=null">
            {{summaryCualitativa.oralArticulacion}}<br *ngIf="summaryCualitativa.oralCodificacionFonologica!=null">
            {{summaryCualitativa.oralCodificacionFonologica}}<br *ngIf="summaryCualitativa.oralProcesamientoSintaxtico!=null">
            {{summaryCualitativa.oralProcesamientoSintaxtico}}<br *ngIf="summaryCualitativa.oralProcesamientoLexico!=null">
            {{summaryCualitativa.oralProcesamientoLexico}}</td>
        </tr>
        <tr>
          <th scope="row">Repetición: </th>
          <td>{{summaryCualitativa.repeticionArticulacion}}<br *ngIf="summaryCualitativa.repeticionCodificacionFonologica!=null">
            {{summaryCualitativa.repeticionCodificacionFonologica}}<br *ngIf="summaryCualitativa.repeticionProcesamientoLexico!=null">
            {{summaryCualitativa.repeticionProcesamientoLexico}}<br *ngIf="summaryCualitativa.repeticionProcesamientoSintaxtico!=null">
            {{summaryCualitativa.repeticionProcesamientoSintaxtico}}          </td>
        </tr>
        <tr>
          <th scope="row">Denominación: </th>
          <td>{{summaryCualitativa.denominacionArticulacion}}<br *ngIf="summaryCualitativa.denominacionCodificacionFonologica!=null">
            {{summaryCualitativa.denominacionCodificacionFonologica}}<br *ngIf="summaryCualitativa.denominacionProcesamientoLexico!=null">
            {{summaryCualitativa.denominacionProcesamientoLexico}}          </td>
        </tr>
        <tr>
          <th scope="row">Lectura: </th>
          <td>{{summaryCualitativa.lecturaLecturaNoPalabras}}<br *ngIf="summaryCualitativa.lecturaLecturaPalabras!=null">
            {{summaryCualitativa.lecturaLecturaPalabras}}<br *ngIf="summaryCualitativa.lecturaEmparejamientoPalabraEscrita!=null">
            {{summaryCualitativa.lecturaEmparejamientoPalabraEscrita}}<br *ngIf="summaryCualitativa.lecturaComprensionComandoEscrito!=null">
            {{summaryCualitativa.lecturaComprensionComandoEscrito}}</td>
        </tr>
        <tr>
          <th scope="row">Escritura:</th>
          <td>{{summaryCualitativa.escrituraMovilidadManoDominante}}<br *ngIf="summaryCualitativa.escrituraManoNoDominante!=null">
            {{summaryCualitativa.escrituraManoNoDominante}}<br *ngIf="summaryCualitativa.escrituraGrafismo!=null">
            {{summaryCualitativa.escrituraGrafismo}}<br *ngIf="summaryCualitativa.escrituraDeletreo!=null">
            {{summaryCualitativa.escrituraDeletreo}}<br *ngIf="summaryCualitativa.escrituraOrtografia!=null">
            {{summaryCualitativa.escrituraOrtografia}}</td>
        </tr>
      </tbody>
    </table>
    <!--Conclusiones y comentarios-->
    <h5 class="mb-0 mt-3">Conclusiones y comentarios</h5>
    <hr class="mt-0">
    <div class="mt-1 mb-4">
      <div class="form-floating">
        <textarea class="form-control" id="conclusiones" style="height: 70px" name="conclusiones"
          placeholder="Conclusiones y recomendaciones" [(ngModel)]="ProtocolSummary.ConclusionesRecomendaciones" ></textarea>
        <label for="conclusiones">Introduzca sus Conclusiones y Comentarios</label>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6">
      <button class="btn btn-success" (click)="back()" >Anterior</button>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success me-1" (click)="sendProtocolFunction(sendProtocol, action)" >Finalizar Protocolo</button>
    </div>
  </div>
</div>


<!--Pop Up wait send protocol-->
<ng-template #sendProtocol let-modal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden" >Loading...</span>
      </div>
      <span style="font-size:  2rem; margin-bottom: 1rem; margin-left: 1rem;"> Guardando Protocolo, por favor espere unos segundos... </span>
    </div>
  </div>
</ng-template>


<!--Pop Up action after send protocol-->
<ng-template #action let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Guardado Exitoso</h4>
  </div>
  <div class="modal-body">
    <span>El protocolo fue guardado correctamente, podra acceder al mismo navegando desde la opcion "Mis Pacientes" identificando al
      usuario y accediendo a "Protocolos Previos" o realice click en <i>"Ver Resumen"</i></span>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6 d-grid gap-2">
        <button class="btn btn-success" type="button"  (click)=" viewProtocol()"  >Ver Resumen</button>
      </div>
      <div class="col-md-6 d-grid gap-2">
        <button type="button" class="btn btn-danger" (click)="goMisPacientes()"  >Ir a mis Pacientes</button>
      </div>
    </div>
  </div>
</ng-template>

