<div class="container-sm mt-2 bg-success bg-gradient text-black border shadow-lg p-3 mb-5 bg-body rounded">
  <div class="text-center">
    <h2>Evaluacion del Lenguaje - Resultados</h2>
  </div>
  <h5 class="mb-0">Resumen de puntaje por Tarea</h5>
  <hr class="mt-0">
  <div>
    <table class="table  table-secondary table-sm table-striped table-bordered mb-0">
      <thead>
        <tr class="text-white">
          <th class="bg-secondary" scope="col">Tarea</th>
          <th class="bg-secondary" scope="col">Puntaje</th>
          <th class="bg-secondary" scope="col">Valoracion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Comprensión auditiva</th>
          <td>{{ProtocolSummary.ComprensionAuditiva_CuantitativaDTO.Subtotal}}/6</td>
          <td> {{valuation.Auditiva}} </td>
        </tr>
        <tr>
          <th scope="row">Expresión oral:</th>
          <td>{{ProtocolSummary.ExpresionOral_CuantitativaSTO.SubTotal}}/6</td>
          <td> {{valuation.Oral}} </td>
        </tr>
        <tr>
          <th scope="row">Repetición: </th>
          <td>{{ProtocolSummary.Repeticion_CuantitativaDTO.SubTotal}}/6</td>
          <td> {{valuation.Repeticion}}  </td>
        </tr>
        <tr>
          <th scope="row">Denominación: </th>
          <td>{{ProtocolSummary.Denominacion_CuantitativaDTO.SubTotal}}/6</td>
          <td> {{valuation.Denominacion}} </td>
        </tr>
        <tr>
          <th scope="row">Lectura: </th>
          <td>{{ProtocolSummary.Lectura_CuantitativaDTO.SubTotal}}/6</td>
          <td> {{valuation.Lectura}}  </td>
        </tr>
        <tr>
          <th scope="row">Escritura:</th>
          <td>{{ProtocolSummary.Escritura_CuantitativaDTO.SubTotal}}/6</td>
          <td> {{valuation.Escritura}} </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <td  colspan="2">{{ProtocolSummary.Total}}/36</td>
        </tr>
      </tfoot>
    </table>
    <span style="color: rgba(255, 255, 255, 0.795);" class="mt-0">* 6: Conservado; 5 alteración leve; 3 y 4 alteración moderada; 1 y 2 alteración severa.</span>
    <!--Resumen Cualitativo-->
    <h5 class="mb-0 mt-4">Resumen de Observaciones Cualitativas</h5>
    <hr class="mt-0">
    <table class="table  table-secondary table-sm table-striped table-bordered mb-0 ">
      <thead>
        <tr class="text-white">
          <th class="bg-secondary" scope="col">Tarea</th>
          <th class="bg-secondary" scope="col">Observaciones Cualitativas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Comprensión auditiva:</th>
          <td> {{SummaryCualitative[0].EmparejamientoPalabraOida}}<br>
          {{SummaryCualitative[0].ComandosOidos}} </td>
        </tr>
        <tr>
          <th scope="row">Expresión oral:</th>
          <td>

          </td>
        </tr>
        <tr>
          <th scope="row">Repetición: </th>
          <td>

          </td>
        </tr>
        <tr>
          <th scope="row">Denominación: </th>
          <td>

          </td>
        </tr>
        <tr>
          <th scope="row">Lectura: </th>
          <td>

          </td>
        </tr>
        <tr>
          <th scope="row">Escritura:</th>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
    <!--Conclusiones y comentarios-->
    <h5 class="mb-0">Conclusiones y comentarios</h5>
    <hr class="mt-0">
    <div class="mt-1 mb-4">
      <div class="form-floating">
        <textarea class="form-control" id="conclusiones" style="height: 70px" name="conclusiones"
          placeholder="Conclusiones y recomendaciones"></textarea>
        <label for="conclusiones">Introduzca sus Conclusiones y Comentarios</label>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6">
      <button class="btn btn-success" (click)="back()" >Anterior</button>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success me-1" (click)="sendProtocolFunction()" >Finalizar Protocolo</button>
    </div>
  </div>
</div>



{{ProtocolSummary|json}}
