<div class="container-sm mt-2 bg-info bg-gradient text-black border shadow-lg p-3 mb-5 bg-body rounded">
  <div class="text-center">
    <h2>Nuevo Protocolo - Identificacion del Paciente</h2>
  </div>
  <h5 class="mb-0">Datos del Paciente</h5>
  <hr class="mt-0" />
  <div class="row">
    <div class="col-auto">
      <label for="paciente" class="form-label">
        Paciente: {{patient.initialWithBrithDate}}
      </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        Fecha de Nacimiento: {{patient.brithDate}}
      </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        Lengua Materna: {{patient.nativeLanguage}}
      </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        ¿Es bilungüe?: {{patient.isBilingual}}
      </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        ¿Cual idioma?: {{patient.bilingualLanguage}}
      </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        Dominancia Manual: {{patient.handDominance}}</label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        Escolaridad: {{patient.studies}} </label>
    </div>
  </div>
  <h5 class="mb-0">Datos del Protocolo</h5>
  <hr class="mt-0" />
  <div class=" row">
    <div class="col-auto">
      <label for="protocoldate" class="form-label">Fecha del protocolo</label>
    </div>
    <div class="col-auto">
      <input type="date" id="protocoldate" class="form-control" name="protocoldate"
      [(ngModel)]="PatientIdentification.FechaProtocolo">
    </div>
  </div>
  <div class="mt-4">
    <div class="form-floating ">
      <textarea class="form-control lh-lg" id="resumenclinico" name="resumenclinico" placeholder="Resumen Clinico"
        style="height: 100px;" [(ngModel)]="PatientIdentification.ResumenClinico" ></textarea>
      <label for="resumenclinico">Resumen Clinico</label>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success" (click)="next()">Siguiente</button>
    </div>
  </div>
</div>
