<div class="container-sm mt-2  bg-gradient text-white border shadow-lg p-3 mb-5  rounded" style="background-color:  #2587AD;">
  <div class="text-center">
    <h2>Nuevo Protocolo - Identificación del Paciente</h2>
  </div>
  <h5 class="mb-0">Datos del Paciente</h5>
  <hr class="mt-0" />
  <div class="row">
    <div class="col-auto">
      <label for="paciente" class="form-label">
        Paciente: {{PatientIdentification.initialWithBrithDate}}
      </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        Fecha de Nacimiento: {{PatientIdentification.brithDate}}
      </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        Lengua Materna:
        <span *ngFor="let item of PatientOption.lengua">
          <span *ngIf="this.item.value == PatientIdentification.nativeLanguage && PatientIdentification.nativeLanguage != 3">
            {{item.description}}
          </span>
        </span>
        <span *ngIf="PatientIdentification.nativeLanguage != 0 && PatientIdentification.nativeLanguage != 1 && PatientIdentification.nativeLanguage != 2 ">
          {{PatientIdentification.nativeLanguage}}
        </span>
      </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        ¿Es bilingüe?:
          <span *ngIf="PatientIdentification.isBilingual == true">
            {{PatientOption.bilingue[0].description}}
          </span>
          <span *ngIf="PatientIdentification.isBilingual == false">
            {{PatientOption.bilingue[1].description}}
         </span>
      </label>
    </div>
    <div class="col-auto" *ngIf="PatientIdentification.isBilingual">
      <label class="form-label">
        ¿Cual idioma?: {{PatientIdentification.bilingualLanguage}}
      </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        Dominancia Manual:
          <span *ngFor="let item of PatientOption.dominancia" >
            <span *ngIf="item.value == PatientIdentification.handDominance" >
              {{item.description}}
            </span>
          </span>
        </label>
    </div>
    <div class="col-auto">
      <label class="form-label">
        Escolaridad:
          <span *ngFor="let item of PatientOption.estudios" >
            <span *ngIf="item.value == PatientIdentification.studies" >
              {{item.description}}
            </span>
          </span>
        </label>
    </div>
  </div>
  <h5 class="mb-0">Datos del Protocolo</h5>
  <hr class="mt-0" />
  <div class=" row">
    <div class="col-auto">
      <label for="protocoldate" class="form-label">Fecha del protocolo</label>
    </div>
    <div class="col-auto">
      <input type="date" id="protocoldate" class="form-control" name="protocoldate"
      [(ngModel)]="PatientIdentification.FechaProtocolo">
    </div>
  </div>
  <div class="mt-4">
    <div class="form-floating ">
      <textarea class="form-control lh-lg" id="resumenclinico" name="resumenclinico" placeholder="Resumen Clinico"
        style="height: 100px;" [(ngModel)]="PatientIdentification.ResumenClinico" ></textarea>
      <label for="resumenclinico" style="color: black;">Resumen Clinico</label>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success" (click)="next()">Siguiente</button>
    </div>
  </div>

</div>
