<div class="container-sm mt-2 bg-warning bg-gradient text-black border shadow-lg p-3 mb-5 bg-body rounded">
  <div class="text-center">
    <h2>Evaluacion del Lenguaje - Carga de las respuestas del paciente</h2>
    <h3>Comprensión Auditiva</h3>
  </div>
  <hr>
  <!--Emaprejamiento palabra oida-dibujo-->
  <div class="">
    <h5>Emparejamiento palabra oída-dibujo</h5>
    <div class="row">
      <div class="col-md-6 ">
        <h6> Señale la OVEJA (lámina: oreja, plancha, oveja, vaca): </h6>
      </div>
      <div class="col-md-4 ">
        <select class="form-select" name="p1p1" id="p1p1" [(ngModel)]="ComprensionAuditivaCuantitativa.SenialeLaOveja"
          [disabled]="ComprensionAuditivaCuantitativa.WasSuspended" (change)="total()">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let q of QuestionOptions.Question1and2and3" [ngValue]="q.valor">{{q.etiqueta}}</option>
        </select>
      </div>
      <div class="col-md-2 ">
        <span>Puntuacion: {{ComprensionAuditivaCuantitativa.SenialeLaOveja}}</span>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Señale el PATO (lámina: vaso, plato, revólver, pato): </h6>
    </div>
    <div class="col-md-4 ">
      <select class="form-select" name="p1p2" id="p1p2" [(ngModel)]="ComprensionAuditivaCuantitativa.SenialeElPato"
        [disabled]="ComprensionAuditivaCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of QuestionOptions.Question1and2and3" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion: {{ComprensionAuditivaCuantitativa.SenialeElPato}}</span>
    </div>
  </div>
    <!--Comandos Oidos-->
  <hr class="mt-2">
  <div class="mt-1">
    <h5>Comandos oidos</h5>
    <div class="row">
      <div class="col-md-6 ">
        <h6>Tóquese la oreja: </h6>
      </div>
      <div class="col-md-4 ">
        <select class="form-select" name="p1p3" id="p1p3" [disabled]="ComprensionAuditivaCuantitativa.WasSuspended"
        [(ngModel)]="ComprensionAuditivaCuantitativa.ToqueseLaOreja" (change)="total()">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let p of QuestionOptions.Question1and2and3" [ngValue]=p.valor>{{p.etiqueta}}</option>
        </select>
      </div>
      <div class="col-md-2 ">
        <span>Puntuacion: {{ComprensionAuditivaCuantitativa.ToqueseLaOreja}}</span>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Señale el techo y luego mueva su cabeza: </h6>
    </div>
    <div class="col-md-4 ">
      <select class="form-select" name="p1p4" id="p1p4" [disabled]="ComprensionAuditivaCuantitativa.WasSuspended"
      [(ngModel)]="ComprensionAuditivaCuantitativa.SenialeElTecho" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of QuestionOptions.Question4" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion: {{ComprensionAuditivaCuantitativa.SenialeElTecho}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Señale la puerta, abra la boca y luego cierre los ojos: </h6>
    </div>
    <div class="col-md-4 ">
      <select class="form-select" name="p1p5" id="p1p5" [disabled]="ComprensionAuditivaCuantitativa.WasSuspended"
      [(ngModel)]="ComprensionAuditivaCuantitativa.SenialeLaPuerta" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of QuestionOptions.Question5" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <span>Puntuacion: {{ComprensionAuditivaCuantitativa.SenialeLaPuerta}}</span>
    </div>
  </div>
  <!--Total and Quealitative-->
  <div class="row mt-2">

    <div class=" col-md-6">
    </div>
    <div class="col-md-4 ">
      <button class="btn btn-secondary" (click)="open(cualitat)">Agregar Observaciones Cualitativas</button>
    </div>
    <div class="col-md-2 ">
      <span>Total: {{ComprensionAuditivaCuantitativa.Subtotal}}</span>
    </div>
  </div>
  <hr class="mt-1">
  <!--footer button-->
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success " (click)="back()" >Anterior</button>
    </div>
    <div class="col-md-4 text-center">
      <button class="btn btn-danger " (click)="open(suspended)" [disabled]="ComprensionAuditivaCuantitativa.WasSuspended">Suspender Paso del Protocolo</button>
    </div>
    <div class="col-md-4 text-right">
      <button class=" btn btn-success" (click)="next()" >Siguiente</button>
    </div>
  </div>
</div>

<!--Pop Up Qualitative Options-->
<ng-template #cualitat let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Observaciones Cualitativas de la Comprension Auditiva</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3"><label class="">Emparejamiento palabra oída-dibujo </label></div>
      <div class="col-md-3">
        <select class="form-select" name="PO" id="PO" [(ngModel)]="ComprensionAuditivaCualitativa.PalabraOidaAlterada"
        (change)="popUpValidation()" (change)="clear()">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option  [ngValue]="0">Normal</option>
          <option  [ngValue]="1">Alterado</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="ComprensionAuditivaCualitativa.PalabraOidaAlterada==1">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PO1" [(ngModel)]="ComprensionAuditivaCualitativa.POErroresFormales"
          (change)="popUpValidation()">
          <label class="form-check-label" for="PO1">Errores formales</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PO2" [(ngModel)]="ComprensionAuditivaCualitativa.POErroresSemanticos"
          (change)="popUpValidation()">
          <label class="form-check-label" for="PO2">Errores semánticos</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PO3" [(ngModel)]="ComprensionAuditivaCualitativa.POErroresNoRelacionados"
          (change)="popUpValidation()">
          <label class="form-check-label" for="PO3">Errores no relacionados</label>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3"><label class="">Comandos oídos</label></div>
      <div class="col-md-3">
        <select class="form-select" name="CO" id="CO" [(ngModel)]="ComprensionAuditivaCualitativa.ComandosOidosAlterada"
        (change)="popUpValidation()" (change)="clear()">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option  [ngValue]="0">Normal</option>
          <option  [ngValue]="1">Alterado</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="ComprensionAuditivaCualitativa.ComandosOidosAlterada==1">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="CO1" [(ngModel)]="ComprensionAuditivaCualitativa.COOmiteParteDelComando"
          (change)="popUpValidation()">
          <label class="form-check-label" for="CO1">Omite parte del comando</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="CO2" [(ngModel)]="ComprensionAuditivaCualitativa.COSustituyeParteDelComando"
          (change)="popUpValidation()">
          <label class="form-check-label" for="CO2">Sustituye parte del comando</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="CO3" [(ngModel)]="ComprensionAuditivaCualitativa.COCambiaElOrdenDelComando"
          (change)="popUpValidation()">
          <label class="form-check-label" for="CO3">Cambia el orden del comando</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6 d-grid gap-2">
        <button class="btn btn-success" type="submit" (click)="saved()" (click)="modal.close()" [disabled]="!popupsave">Guardar</button>
      </div>
      <div class="col-md-6 d-grid gap-2">
        <button type="button" class="btn btn-danger" (click)="cancel()" (click)="modal.close()" >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!--Pop Up Suspend step-->
<ng-template #suspended let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>¿Esta seguro que desea suspender este paso del protocolo?</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6 d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="suspend()" (click)="modal.close()">Suspender</button>
      </div>
      <div class="col-md-6 d-grid gap-2">
        <button type="button" class="btn btn-danger" (click)="modal.close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-template>
