<div class="container-sm mt-2 bg-warning bg-gradient text-black border shadow-lg p-3 mb-5 bg-body rounded" >
  <div>
    <div class="text-center">
      <h2>Evaluacion del Lenguaje - Expresion Oral (habla incluida)</h2>
    </div>
    <hr>
    <div class="row mt-1">
      <div class=" col-md-6">
        <h6>Diga su nombre completo: </h6>
      </div>
      <div class="col-md-4 ">
        <select class="form-select" name="p2p1" id="p2p1" [(ngModel)]="ExpresionOral.DigaSuNombre">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let p of DropdownOptions.Question1and2 " [value]=p.valor>{{p.etiqueta}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <span>Puntuacion: {{ExpresionOral.DigaSuNombre}}</span>
      </div>
    </div>
    <div class="row mt-1 ">
      <div class=" col-md-6">
        <h6>¿En que ciudad nacio? </h6>
      </div>
      <div class="col-md-4">
        <select  class="form-select" name="p2p2" id="p2p2" [(ngModel)]="ExpresionOral.EnQueCiudadNacio">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let p of DropdownOptions.Question1and2 " [value]=p.valor>{{p.etiqueta}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <span>Puntuacion: {{ExpresionOral.EnQueCiudadNacio}}</span>
      </div>
    </div>
    <div class="row mt-1">
      <div class=" col-md-6">
        <h6>Diga que ve en la lamina (lamina: "El Parque") </h6>
      </div>
      <div class="col-md-4">
        <select class="form-select" name="p2p3" id="p2p3" [(ngModel)]="ExpresionOral.LaminaElParque">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let p of DropdownOptions.Question3and4" [value]=p.valor>{{p.etiqueta}}</option>
        </select>
      </div>
      <div class="col-md-2 ">
        <span>Puntuacion: {{ExpresionOral.LaminaElParque}}</span>
      </div>
    </div>
    <div class="row mt-1">
      <div class=" col-md-6">
        <h6>Diga que ve en la lamina (lamina: "Consulta Medica") </h6>
      </div>
      <div class="col-md-4 ">
        <select class="form-select" name="p2p4" id="p2p4" [(ngModel)]="ExpresionOral.LaminaConsultaMedica">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let p of  DropdownOptions.Question3and4"  [value]=p.valor>{{p.etiqueta}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <span>Puntuacion: {{ExpresionOral.LaminaConsultaMedica}}</span>
      </div>
    </div>
    <div class="row mt-1">
      <div class=" col-md-6">
      </div>
      <div class="col-md-4 ">
        <button class="btn btn-secondary">Agregar Observaciones Cualitativas</button>
      </div>
      <div class="col-md-2 ">
        <span>Total: {{ExpresionOral.SubTotal}}</span>
      </div>
    </div>
    <hr class="mt-1" >
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-success" >Anterior</button>
      </div>
      <div class="col-md-4 text-center">
        <button class="btn btn-danger" >Suspender Paso del Protocolo</button>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-success">Siguiente</button>
      </div>
    </div>
  </div>
</div>
