<div class="container mt-5 border border-dark border border-3 rounded-3 p-5">
  <h2>Actualizar Contraseña</h2>
  <div >
    <label for="exampleInputEmail1" class="form-label">Contraseña Actual</label>
    <input type="email" class="form-control" id="exampleInputEmail1" />
    <label for="exampleInputEmail1" class="form-label">Contraseña Nueva</label>
    <input type="email" class="form-control" id="exampleInputEmail1" />
    <label for="exampleInputEmail1" class="form-label">Repita la contraseña Nueva</label>
    <input type="email" class="form-control" id="exampleInputEmail1" />
  </div>
  <button class="btn btn-success mt-2">Actualizar Contraseña</button>

</div>
