
  <div class="container-sm mt-2 bg-warning bg-gradient text-black border shadow-lg p-3 mb-5 bg-body rounded" >
    <div class="text-center">
      <h2> Evaluacion del Lenguaje - Denominación </h2>
    </div>
    <hr >
    <!--Denomination Questions-->
    <div class="row mt-1">
      <div class="col-md-6">
        <h6>¿Qué es esto? (Lámina “cama”): </h6>
      </div>
      <div class="col-md-4 ">
        <select class="form-select" name="p4p1" id="p4p1" [(ngModel)]="DenominacionCuantitativa.LaminaCama"
        [disabled]="DenominacionCuantitativa.WasSuspended" (change)="total()">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let p of DropdownOptions.Question1and3" [ngValue]=p.valor>{{p.etiqueta}}</option>
        </select>

      </div>
      <div class="col-md-2">
        <span>Puntuacion: {{DenominacionCuantitativa.LaminaCama}}</span>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-6">
        <h6>¿Qué es esto? (Lámina “violín”): </h6>
      </div>
      <div class="col-md-4 ">
        <select class="form-select" name="p4p2" id="p4p2" [(ngModel)]="DenominacionCuantitativa.LaminaViolin"
        [disabled]="DenominacionCuantitativa.WasSuspended" (change)="total()">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let p of DropdownOptions.Question2and4" [ngValue]=p.valor>{{p.etiqueta}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <span>Puntuacion: {{DenominacionCuantitativa.LaminaViolin}}</span>
      </div>
    </div>
    <div class="row mt-1">
      <div class=" col-md-6">
        <h6>¿Qué hace esta persona? (Lámina “come”): </h6>
      </div>
      <div class="col-md-4 ">
        <select  class="form-select" name="p4p3" id="p4p3" [(ngModel)]="DenominacionCuantitativa.LaminaCome"
        [disabled]="DenominacionCuantitativa.WasSuspended" (change)="total()">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let p of DropdownOptions.Question1and3" [ngValue]=p.valor>{{p.etiqueta}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <span>Puntuacion: {{DenominacionCuantitativa.LaminaCome}}</span>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-6">
        <h6>¿Qué hace esta persona? (Lámina “rema”): </h6>
      </div>
      <div class="col-md-4 ">
        <select class="form-select" name="p4p4" id="p4p4" [(ngModel)]="DenominacionCuantitativa.LaminaRema"
        [disabled]="DenominacionCuantitativa.WasSuspended" (change)="total()">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option *ngFor="let p of DropdownOptions.Question2and4" [ngValue]=p.valor>{{p.etiqueta}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <span>Puntuacion: {{DenominacionCuantitativa.LaminaRema}}</span>
      </div>
    </div>
    <!--Total and qealitative-->
    <div class="row mt-1">
      <div class="col-md-6">
      </div>
      <div class="col-md-4 ">
        <button class="btn btn-secondary" (click)="open(cualitat)" >Agregar Observaciones Cualitativas</button>
      </div>
      <div class="col-md-2">
        <span>Total: {{DenominacionCuantitativa.SubTotal}}</span>
      </div>
    </div>
    <hr >
      <!--footer button-->
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-success" (click)="back()" >Anterior</button>
      </div>
      <div class="col-md-4 text-center">
        <button class="btn btn-danger" (click)="open(suspended)" [disabled]="DenominacionCuantitativa.WasSuspended">
          Suspender Paso Del Protocolo</button>
      </div>
      <div class="col-md-4 text-right" >
        <button class="btn btn-success" (click)="next()" >Siguiente</button>
      </div>
    </div>
  </div>


<!--Pop Up Qualitative Options-->
<ng-template #cualitat let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Observaciones Cualitativas de la Denominación</h4>
    <button class="close" aria-label="close" type="button" (click)="cancel()" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3"><label class="">Articulación</label></div>
      <div class="col-md-3">
        <select class="form-select" name="Articulacion" id="Articulacion" [(ngModel)]="DenominacionCualitativa.Articulacion">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option [ngValue]="0">Normal</option>
          <option [ngValue]="1">Alterada Errores fonéticos</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"><label class="">Codificación fonológica</label></div>
      <div class="col-md-3">
        <select class="form-select" name="CF" id="CF" [(ngModel)]="DenominacionCualitativa.CodificacionFonologica">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option [ngValue]="0">Normal</option>
          <option [ngValue]="1">Alterada Errores fonémicos</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"><label class="">Procesamiento léxico </label></div>
      <div class="col-md-3">
        <select class="form-select" name="PL" id="PL"
          [(ngModel)]="DenominacionCualitativa.ProcesamientoLexico">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option [ngValue]="0">Normal</option>
          <option [ngValue]="1">Alterada</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="DenominacionCualitativa.ProcesamientoLexico == 1">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL1" [(ngModel)]="DenominacionCualitativa.PLAnomia">
          <label class="form-check-label" for="PL1">Anomias</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL2" [(ngModel)]="DenominacionCualitativa.PLParafasiasFormales">
          <label class="form-check-label" for="PL2">Parafasias formales</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL3" [(ngModel)]="DenominacionCualitativa.PLParafasiasMorfologicas">
          <label class="form-check-label" for="PL3">Parafasias morfológicas</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL4"
            [(ngModel)]="DenominacionCualitativa.PLParafasiasSemanticas">
          <label class="form-check-label" for="PL4">Parafasias semánticas</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL5"
            [(ngModel)]="DenominacionCualitativa.PLCircunloquios">
          <label class="form-check-label" for="PL5">Circunloquios</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL6" [(ngModel)]="DenominacionCualitativa.PLNeologismos">
          <label class="form-check-label" for="PL6">Neologismos</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL7" [(ngModel)]="DenominacionCualitativa.PLEstereotipias">
          <label class="form-check-label" for="PL7">Estereotipías</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL8" [(ngModel)]="DenominacionCualitativa.PLPerseveraciones">
          <label class="form-check-label" for="PL8">Perseveraciones</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL9" [(ngModel)]="DenominacionCualitativa.PLMuletillas">
          <label class="form-check-label" for="PL9">Muletillas</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6 d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="saved()" (click)="modal.close()">Guardar</button>
      </div>
      <div class="col-md-6 d-grid gap-2">
        <button type="button" class="btn btn-danger" (click)="cancel()" (click)="modal.close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!--Pop Up Suspend step-->
<ng-template #suspended let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>¿Esta seguro que desea suspender este paso del protocolo?</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6 d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="suspend()" (click)="modal.close()">Suspender</button>
      </div>
      <div class="col-md-6 d-grid gap-2">
        <button type="button" class="btn btn-danger" (click)="modal.close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-template>
