<div class="container bg-info text-white text-center mt-5 p-5">
  <div>
    <h1>PROTOCOLO DE EVALUACION BREVE DE LA AFASIA (PEBA)</h1>
  </div>
  <hr/>
  <div class="mt-3">
    <h6>
      Evaluacion de las alteraciones del lenguaje en pacientes agudos <br />
      y/o con compromisos severos.
    </h6>
    <h6>
      <i>
        Aldo Ferreres, Andrea Micciulli, Magali Guilarducci,<br />
        Natalia F. Macchia, Beatriz Ordoñana, Micaela Difalcis, Florentina
        Morello Garcia
      </i>
    </h6>
    <hr />
    <div class="mt-3">
      <h6>
        <strong
          >Unidad de Neuropsicología y Fonoaudiología del Hospital Eva
          Perón</strong
        >
      </h6>
    </div>
  </div>
</div>
