<div class="container-sm mt-2  text-white border shadow-lg p-3 mb-5  rounded" style="background-color: #625b83">
  <div class="text-center">
    <h2> Evaluación del Lenguaje - Carga de las respuestas del paciente </h2>
    <h3>Repetición </h3>
  </div>
  <hr>
  <!--palabra aislada-->
  <h5>Palabras aisladas</h5>
  <div class="row">
    <div class="col-md-6">
      <h6>Sol: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p1" id="p3p1" [(ngModel)]="RepeticionCuantitativa.Sol"
      [disabled]="RepeticionCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Q1" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuación:{{RepeticionCuantitativa.Sol}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Precio: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p2" id="p3p2" [(ngModel)]="RepeticionCuantitativa.Precio"
      [disabled]="RepeticionCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Q1" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <span>Puntuación:{{RepeticionCuantitativa.Precio}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Pensamiento: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p3" id="p3p3" [(ngModel)]="RepeticionCuantitativa.Pensamiento"
      [disabled]="RepeticionCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Q2a" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuación:{{RepeticionCuantitativa.Pensamiento}}</span>
    </div>
  </div>
  <hr class="mt-1">
  <!--frases y oraciones simples-->
  <h5 class="mt-1">Frases y oraciones simples</h5>
  <div class="row mt-1">
    <div class="col-md-6">
      <h6>Mucho Ruido: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p4" id="p3p4" [(ngModel)]="RepeticionCuantitativa.MuchoRuido"
      [disabled]="RepeticionCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Q2" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuación:{{RepeticionCuantitativa.MuchoRuido}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6">
      <h6>El Hombre guardo las herramientas: </h6>
    </div>
    <div class="col-md-4 ">
      <select class="form-select" name="p3p5" id="p3p5" [(ngModel)]="RepeticionCuantitativa.ElHombreGuardo"
      [disabled]="RepeticionCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Q3" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuación:{{RepeticionCuantitativa.ElHombreGuardo}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>La Mujer le regalo un libro a su Hijo: </h6>
    </div>
    <div class="col-md-4 ">
      <select class="form-select" name="p3p6" id="p3p6" [(ngModel)]="RepeticionCuantitativa.LaMujerRegalo"
      [disabled]="RepeticionCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Q3a" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuación:{{RepeticionCuantitativa.LaMujerRegalo}}</span>
    </div>
  </div>
  <hr class="mt-1">
  <!--no palabras-->
  <h5 class="mt-1" style="text-align: left;">No Palabras</h5>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Fo: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p7" id="p3p7" [(ngModel)]="RepeticionCuantitativa.Fo"
      [disabled]="RepeticionCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Q4" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuación:{{RepeticionCuantitativa.Fo}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Treyo: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p8" id="p3p8" [(ngModel)]="RepeticionCuantitativa.Treyo"
      [disabled]="RepeticionCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Q4" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuación:{{RepeticionCuantitativa.Treyo}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Almusipa: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p9" id="p3p9" [(ngModel)]="RepeticionCuantitativa.Almusipa"
      [disabled]="RepeticionCuantitativa.WasSuspended" (change)="total()">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Q4" [ngValue]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuación:{{RepeticionCuantitativa.Almusipa}}</span>
    </div>
  </div>
  <!--Total and qealitative-->
  <div class="row mt-1">
    <div class=" col-md-6">
    </div>
    <div class="col-md-4">
      <button class="btn btn-secondary " (click)="open(cualitat)">Agregar Observaciones Caulitativas</button>
    </div>
    <div class="col-md-2 ">
      <span>Total: {{RepeticionCuantitativa.SubTotal}}</span>
    </div>
  </div>
  <hr class="mt-1">
  <!--footer button-->
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success" (click)="back()" >Anterior</button>
    </div>
    <div class="col-md-4 text-center">
      <button class="btn btn-danger" style="background-color: #CE054B;" (click)="open(suspended)" [disabled]="RepeticionCuantitativa.WasSuspended">Suspender Paso del Protocolo</button>
    </div>
    <div class="col-md-4 text-right" >
      <button class="btn btn-success" (click)="next()" >Siguiente</button>
    </div>
  </div>
</div>



<!--Pop Up Qualitative Options-->
<ng-template #cualitat let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Observaciones Cualitativas de la Repetición</h4>
    <button class="close" aria-label="close" type="button" (click)="cancel()" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3"><label class="">Articulación</label></div>
      <div class="col-md-3">
        <select class="form-select" name="Articulacion" id="Articulacion" [(ngModel)]="RepeticionCualitativa.Articulacion">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option [ngValue]="0">Normal</option>
          <option [ngValue]="1">Alterada Errores fonéticos</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"><label class="">Codificación fonológica</label></div>
      <div class="col-md-3">
        <select class="form-select" name="CF" id="CF" [(ngModel)]="RepeticionCualitativa.CodificacionFonologica"
        (change)="popUpValidation()" (change)="clear()">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option [ngValue]="0">Normal</option>
          <option [ngValue]="1">Alterada</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="RepeticionCualitativa.CodificacionFonologica==1">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="CF1" [(ngModel)]="RepeticionCualitativa.CFFonemicos"
          (change)="popUpValidation()">
          <label class="form-check-label" for="CF1">Fonémicos</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="CF2" [(ngModel)]="RepeticionCualitativa.CFLexicalizacionDeNoPalabras" (change)="popUpValidation()">
          <label class="form-check-label" for="CF2">Lexicalización de no palabras</label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"><label class="">Procesamiento léxico </label></div>
      <div class="col-md-3">
        <select class="form-select" name="PL" id="PL" (change)="popUpValidation()" (change)="clear()"
          [(ngModel)]="RepeticionCualitativa.ProcesamientoLexico">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option [ngValue]="0">Normal</option>
          <option [ngValue]="1">Alterado</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="RepeticionCualitativa.ProcesamientoLexico == 1">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL1" [(ngModel)]="RepeticionCualitativa.PLParafasiasFormales" (change)="popUpValidation()">
          <label class="form-check-label" for="PL1">Parafasias formales</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL2" [(ngModel)]="RepeticionCualitativa.PLParafasiasMorfologicas" (change)="popUpValidation()">
          <label class="form-check-label" for="PL2">Parafasias morfológicas</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL3" [(ngModel)]="RepeticionCualitativa.PLParafasiasSemanticas" (change)="popUpValidation()">
          <label class="form-check-label" for="PL3">Parafasias semánticas</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL4" [(ngModel)]="RepeticionCualitativa.PLNeologismos" (change)="popUpValidation()">
          <label class="form-check-label" for="PL4">Neologismos</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL5" [(ngModel)]="RepeticionCualitativa.PLEstereotipias" (change)="popUpValidation()">
          <label class="form-check-label" for="PL5">Estereotipias</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PL6" [(ngModel)]="RepeticionCualitativa.PLPerseveraciones" (change)="popUpValidation()">
          <label class="form-check-label" for="PL6">Perseveraciones</label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3"><label class="">Procesamiento sintáctico </label></div>
      <div class="col-md-3">
        <select class="form-select" name="PS" id="PS" [(ngModel)]="RepeticionCualitativa.ProcesamientoSintaxtico">
          <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
          <option [ngValue]="0">Normal</option>
          <option [ngValue]="1">Alterado Agramatismo</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6 d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="saved()" (click)="modal.close()" [disabled]="!popupsave" >Guardar</button>
      </div>
      <div class="col-md-6 d-grid gap-2">
        <button type="button" class="btn btn-danger" (click)="cancel()" (click)="modal.close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!--Pop Up Suspend step-->
<ng-template #suspended let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>¿Esta seguro que desea suspender este paso del protocolo?</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6 d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="suspend()" (click)="modal.close()">Suspender</button>
      </div>
      <div class="col-md-6 d-grid gap-2">
        <button type="button" class="btn btn-danger" (click)="modal.close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-template>
