<div class="container-sm mt-2 bg-warning bg-gradient text-black border shadow-lg p-3 mb-5 bg-body rounded" >
  <div class="text-center">
    <h2>Evaluacion del Lenguaje - Repetición (repita las siguientes palabras)</h2>
  </div>
  <hr>
  <!--palabra aislada-->
  <h5>Palabra aislada</h5>
  <div class="row">
    <div class="col-md-6">
      <h6>Sol: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p1" id="p3p1" [(ngModel)]="RepeticionCuantitativa.Sol">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Question1and2and4and7and8" [value]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion:{{RepeticionCuantitativa.Sol}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Precio: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p2" id="p3p2" [(ngModel)]="RepeticionCuantitativa.Precio">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Question1and2and4and7and8" [value]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <span>Puntuacion:{{RepeticionCuantitativa.Precio}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Pensamiento: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p3" id="p3p3" [(ngModel)]="RepeticionCuantitativa.Pensamiento">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Question3and9" [value]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion:{{RepeticionCuantitativa.Pensamiento}}</span>
    </div>
  </div>
  <hr class="mt-1">
  <!--frases y oraciones simples-->
  <h5 class="mt-1">Frases y oraciones simples</h5>
  <div class="row mt-1">
    <div class="col-md-6">
      <h6>Mucho Ruido: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p4" id="p3p4" [(ngModel)]="RepeticionCuantitativa.MuchoRuido">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Question1and2and4and7and8" [value]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion:{{RepeticionCuantitativa.MuchoRuido}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6">
      <h6>El Hombre guardo las herramientas: </h6>
    </div>
    <div class="col-md-4 ">
      <select class="form-select" name="p3p5" id="p3p5" [(ngModel)]="RepeticionCuantitativa.ElHombreGuardo">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Question5" [value]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion:{{RepeticionCuantitativa.ElHombreGuardo}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>La Mujer le regalo un libro a su Hijo: </h6>
    </div>
    <div class="col-md-4 ">
      <select class="form-select" name="p3p6" id="p3p6" [(ngModel)]="RepeticionCuantitativa.LaMujerRegalo">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Question6" [value]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion:{{RepeticionCuantitativa.LaMujerRegalo}}</span>
    </div>
  </div>
  <hr class="mt-1">
  <!--frases y oraciones simples-->
  <h5 class="mt-1" style="text-align: left;">No Palabra</h5>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Fo: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p7" id="p3p7" [(ngModel)]="RepeticionCuantitativa.Fo">
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Question1and2and4and7and8" [value]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion:{{RepeticionCuantitativa.Fo}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Treyo: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p8" id="p3p8" [(ngModel)]="RepeticionCuantitativa.Treyo" >
        <option [ngValue]="null" disabled selected>Seleccione una respuesta</option>
        <option *ngFor="let p of DropdownOptions.Question1and2and4and7and8" [value]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion:{{RepeticionCuantitativa.Treyo}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
      <h6>Almusipa: </h6>
    </div>
    <div class="col-md-4 ">
      <select  class="form-select" name="p3p9" id="p3p9" >
        <option *ngFor="let p of DropdownOptions.Question3and9" [value]=p.valor>{{p.etiqueta}}</option>
      </select>
    </div>
    <div class="col-md-2 ">
      <span>Puntuacion:{{RepeticionCuantitativa.Almusipa}}</span>
    </div>
  </div>
  <div class="row mt-1">
    <div class=" col-md-6">
    </div>
    <div class="col-md-4">
      <button class="btn btn-secondary " >Agregar Observaciones Caulitativas</button>
    </div>
    <div class="col-md-2 ">
      <span>Total: {{RepeticionCuantitativa.SubTotal}}</span>
    </div>
  </div>
  <hr class="mt-1">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success" >Anterior</button>
    </div>
    <div class="col-md-4 text-center">
      <button class="btn btn-danger" >Suspender Paso del Protocolo</button>
    </div>
    <div class="col-md-4 text-right" >
      <button class="btn btn-success" >Siguiente</button>
    </div>
  </div>
</div>
