<div class=" m-2 p-3 border rounded-3">
  <div class="text-center">
    <h2> Resumen del Protocolo</h2>
  </div>
  <div class="row">
    <div class=" col-md-8"></div>
    <div class="col-md-4"><span><strong>Fecha del Protocolo:</strong>18/03/2021</span></div>
  </div>
  <h5>Datos del Paciente </h5>
  <hr>
  <div class="row ms-2">
    <div class="col-md-4"><span><strong>Paciente: </strong>MES</span></div>
    <div class="col-md-4"><span><strong>Fecha de Nacimiento: </strong>18/03/1989</span></div>
    <div class="col-md-4"><span><strong>Lengua Materna: </strong>Español</span></div>
    <div class="col-md-4"><span><strong>¿Es Bilingüe?: </strong>Si</span></div>
    <div class="col-md-4"><span><strong>¿Cual Idioma?: </strong>Guarani</span></div>
    <div class="col-md-4"><span><strong>Dominancia Manual: </strong>Diestro</span></div>
    <div class="col-md-4"><span><strong>Escolaridad: </strong>Universitario Incompleto</span></div>
  </div>
  <div class=" col ms-2"><span><strong>Resumen Clinico: </strong>El paciente presenta un grave caso de bla bla bla
      bla</span></div>
  <h5>Sintomas Neurológicos </h5>
  <hr>
  <div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Alerta</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
    <div class="col-md-3"><span><strong>¿Cual? </strong>Otro</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Estado Emocional</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
    <div class="col-md-3"><span><strong>¿Cual? </strong>Otro</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Fuerza</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
    <div class="col-md-3"><span><strong>¿Cual? </strong>Otro</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Coordinación Motora</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
    <div class="col-md-3"><span><strong>¿Cual? </strong>Otro</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Sensibilidad</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
    <div class="col-md-3"><span><strong>¿Cual? </strong>Otro</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Visión</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
    <div class="col-md-3"><span><strong>¿Usa Lentes? </strong>Si</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Audición</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
    <div class="col-md-3"><span><strong>¿Usa Audifono? </strong>Si</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Atencion Espacial</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Praxia manual</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Praxia orolinguofaciales</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
  </div>
  <div class="row ms-2">
    <div class="col-md-2"><span><strong>Deglución</strong></span></div>
    <div class="col-md-3"><span><strong>Estado: </strong>CONSERVADO</span></div>
    <div class="col-md-4"><span><strong>Tipo de Alteracion: </strong>Otro</span></div>
  </div>
</div>
<h5>Pasos del Protocolo</h5>
<hr>
<div>
  <h6 class="ms-4 mt-2 mb-0">Comprencion Auditiva</h6>
  <div class="ms-4 b2 rounded-3 p-1">
    <span><i><u>Evaluacion Cuantitativa</u></i></span>
    <div class="ms-4">
      <div class="row">
        <div class="col-md-4"><span><strong>Señale la OVEJA</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Señale el PLATO</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Tóquese la oreja</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Señale el techo y luego mueva su cabeza</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Señale la puerta, abra la boca y luego cierre los ojos</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row m-2">
        <div class="col-md-6"></div>
        <div class="b col-md-6" > <span><strong>Total del Paso: </strong></span> <br>
          <span><strong>El paso fue completado </strong></span></div>
      </div>
    </div>
    <span><i><u>Evaluacion Cualitativa</u></i></span>

    <div class="ms-4">
      <span>Se observaron las siguientes Alteraciones en las Palabras Oídas: Errores formales</span><br>
      <span>Se observaron las siguientes Alteraciones en los comandos oídos: Omite parte del Comando</span>
    </div>

  </div>
  <h6 class="ms-4 mt-2 mb-0">Expresion Oral</h6>
  <div class="ms-4 b2 rounded-3 p-1">
    <span><i><u>Evaluacion Cuantitativa</u></i></span>
    <div class="ms-4">
      <div class="row">
        <div class="col-md-4"><span><strong>Diga su nombre completo</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>¿En que ciudad nacio?</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Diga que ve en la lamina (lamina: "El Parque")</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Diga que ve en la lamina (lamina: "Consulta Medica")</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row m-2">
        <div class="col-md-6"></div>
        <div class="b col-md-6" > <span><strong>Total del Paso: </strong></span> <br>
          <span><strong>El paso fue completado </strong></span></div>
      </div>
    </div>
    <span><i><u>Evaluacion Cualitativa</u></i></span>
    <div class="ms-4">
      <span>Se observaron las siguientes Alteraciones en las Palabras Oídas: Errores formales</span><br>
      <span>Se observaron las siguientes Alteraciones en los comandos oídos: Omite parte del Comando</span>
    </div>
  </div>
  <h6 class="ms-4 mt-2 mb-0">Repeticion</h6>
  <div class="ms-4 b2 rounded-3 p-1">
    <span><i><u>Evaluacion Cuantitativa</u></i></span>
    <div class="ms-4">
      <div class="row">
        <div class="col-md-4"><span><strong>Sol</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Precio</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Pensamiento</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Mucho Ruido</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>El hombre guardo las herramientas</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>La mujer le regalo un libro a su hijo</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Fo</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Treyo</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Almusipa</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row m-2">
        <div class="col-md-6"></div>
        <div class="b col-md-6" > <span><strong>Total del Paso: </strong></span> <br>
          <span><strong>El paso fue completado </strong></span></div>
      </div>
    </div>
    <span><i><u>Evaluacion Cualitativa</u></i></span>

    <div class="ms-4">
      <span>Se observaron las siguientes Alteraciones en las Palabras Oídas: Errores formales</span><br>
      <span>Se observaron las siguientes Alteraciones en los comandos oídos: Omite parte del Comando</span>
    </div>
  </div>
  <h6 class="ms-4 mt-2 mb-0">Denominacion</h6>
  <div class="ms-4 b2 rounded-3 p-1">
    <span><i><u>Evaluacion Cuantitativa</u></i></span>
    <div class="ms-4">
      <div class="row">
        <div class="col-md-4"><span><strong>¿Qué es esto? (Lámina “cama”)</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>¿Qué es esto? (Lámina “violín”)</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>¿Qué hace esta persona? (Lámina “come”)</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>¿Qué hace esta persona? (Lámina “rema”)</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row m-2">
        <div class="col-md-6"></div>
        <div class="b col-md-6" > <span><strong>Total del Paso: </strong></span> <br>
          <span><strong>El paso fue completado </strong></span></div>
      </div>
    </div>
    <span><i><u>Evaluacion Cualitativa</u></i></span>

    <div class="ms-4">
      <span>Se observaron las siguientes Alteraciones en las Palabras Oídas: Errores formales</span><br>
      <span>Se observaron las siguientes Alteraciones en los comandos oídos: Omite parte del Comando</span>
    </div>
  </div>
  <h6 class="ms-4 mt-2 mb-0">Lectura</h6>
  <div class="ms-4 b2 rounded-3 p-1">
    <span><i><u>Evaluacion Cuantitativa</u></i></span>
    <div class="ms-4">
      <div class="row">
        <div class="col-md-4"><span><strong>Mono (lámina: reloj, mono, león, moño)</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Arco (lámina: martillo, flecha, arco, barco)</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Casa</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Grito</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Estatua</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Comunidad</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Ne</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Cho</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Bleja</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Tudipro</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Saque la lengua y salude con la mano</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row m-2">
        <div class="col-md-6"></div>
        <div class="b col-md-6" > <span><strong>Total del Paso: </strong></span> <br>
          <span><strong>El paso fue completado </strong></span></div>
      </div>
    </div>
    <span><i><u>Evaluacion Cualitativa</u></i></span>
    <div class="ms-4">
      <span>Se observaron las siguientes Alteraciones en las Palabras Oídas: Errores formales</span><br>
      <span>Se observaron las siguientes Alteraciones en los comandos oídos: Omite parte del Comando</span>
    </div>
  </div>
  <h6 class="ms-4 mt-2 mb-0">Escritura</h6>
  <div class="ms-4 b2 rounded-3 p-1">
    <span><i><u>Evaluacion Cuantitativa</u></i></span>
    <div class="ms-4">
      <div class="row">
        <div class="col-md-4"><span><strong>EME</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>ZETA</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Mano</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Gente</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Esperanza</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Aclaración</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Jo</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Guela</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row">
        <div class="col-md-4"><span><strong>Dirchole</strong></span></div>
        <div class="col-md-5"> <span>0:Ejecucion INCORRECTA</span> </div>
        <div class="col-md-3"> <span>Puntuacion: </span> </div>
      </div>
      <div class="row m-2">
        <div class="col-md-6"></div>
        <div class="b col-md-6" > <span><strong>Total del Paso: </strong></span> <br>
          <span><strong>El paso fue completado </strong></span></div>
      </div>
    </div>
    <span><i><u>Evaluacion Cualitativa</u></i></span>
    <div class="ms-4">
      <span>Se observaron las siguientes Alteraciones en las Palabras Oídas: Errores formales</span><br>
      <span>Se observaron las siguientes Alteraciones en los comandos oídos: Omite parte del Comando</span>
    </div>
  </div>
</div>
  <h5>Resumen del Puntaje Cuantitativo </h5>
  <hr>
  <div class="ms-4">
    <table class="table  table-secondary table-sm table-striped table-bordered mb-0">
      <thead>
        <tr class="text-white">
          <th class="bg-secondary" scope="col">Tarea</th>
          <th class="bg-secondary" scope="col">Puntaje</th>
          <th class="bg-secondary" scope="col">Valoracion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Comprensión auditiva</th>
          <td><!--{{ProtocolSummary.ComprensionAuditiva_CuantitativaDTO.Subtotal}}/6--></td>
          <td> <!--{{valuation.Auditiva}} --></td>
        </tr>
        <tr>
          <th scope="row">Expresión oral:</th>
          <td><!--{{ProtocolSummary.ExpresionOral_CuantitativaSTO.SubTotal}}/6--></td>
          <td><!-- {{valuation.Oral}} --></td>
        </tr>
        <tr>
          <th scope="row">Repetición: </th>
          <td><!--{{ProtocolSummary.Repeticion_CuantitativaDTO.SubTotal}}/6--></td>
          <td><!-- {{valuation.Repeticion}}  --></td>
        </tr>
        <tr>
          <th scope="row">Denominación: </th>
          <td><!--{{ProtocolSummary.Denominacion_CuantitativaDTO.SubTotal}}/6--></td>
          <td><!-- {{valuation.Denominacion}} --></td>
        </tr>
        <tr>
          <th scope="row">Lectura: </th>
          <td><!--{{ProtocolSummary.Lectura_CuantitativaDTO.SubTotal}}/6--></td>
          <td> <!--{{valuation.Lectura}}  --></td>
        </tr>
        <tr>
          <th scope="row">Escritura:</th>
          <td><!--{{ProtocolSummary.Escritura_CuantitativaDTO.SubTotal}}/6--></td>
          <td><!-- {{valuation.Escritura}} --></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <td  colspan="2"><!--{{ProtocolSummary.Total}}/36--></td>
        </tr>
      </tfoot>
    </table>
    <span style="color: rgba(255, 255, 255, 0.795);" class="mt-0">* 6: Conservado; 5 alteración leve; 3 y 4 alteración moderada; 1 y 2 alteración severa.</span>
  </div>
  <h5>Resumen Cualitativo</h5>
  <hr>
  <div class="ms-4">
    <table class="table  table-secondary table-sm table-striped table-bordered mb-0 ">
      <thead>
        <tr class="text-white">
          <th class="bg-secondary" scope="col">Tarea</th>
          <th class="bg-secondary" scope="col">Observaciones Cualitativas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Comprensión auditiva:</th>
          <td> <!--{{summaryCualitativa.auditivaEmparejamientoPalabraOida}}<br>
          {{summaryCualitativa.auditivaComandosOidos}} --></td>
        </tr>
        <tr>
          <th scope="row">Expresión oral:</th>
          <td><!--{{summaryCualitativa.oralFluencia}}<br *ngIf="summaryCualitativa.oralProsodia!=null">
            {{summaryCualitativa.oralProsodia}}<br *ngIf="summaryCualitativa.oralArticulacion!=null">
            {{summaryCualitativa.oralArticulacion}}<br *ngIf="summaryCualitativa.oralCodificacionFonologica!=null">
            {{summaryCualitativa.oralCodificacionFonologica}}<br *ngIf="summaryCualitativa.oralProcesamientoSintaxtico!=null">
            {{summaryCualitativa.oralProcesamientoSintaxtico}}<br *ngIf="summaryCualitativa.oralProcesamientoLexico!=null">
            {{summaryCualitativa.oralProcesamientoLexico}}--></td>
        </tr>
        <tr>
          <th scope="row">Repetición: </th>
          <td><!--{{summaryCualitativa.repeticionArticulacion}}<br *ngIf="summaryCualitativa.repeticionCodificacionFonologica!=null">
            {{summaryCualitativa.repeticionCodificacionFonologica}}<br *ngIf="summaryCualitativa.repeticionProcesamientoLexico!=null">
            {{summaryCualitativa.repeticionProcesamientoLexico}}<br *ngIf="summaryCualitativa.repeticionProcesamientoSintaxtico!=null">
            {{summaryCualitativa.repeticionProcesamientoSintaxtico}}          --></td>
        </tr>
        <tr>
          <th scope="row">Denominación: </th>
          <td><!--{{summaryCualitativa.denominacionArticulacion}}<br *ngIf="summaryCualitativa.denominacionCodificacionFonologica!=null">
            {{summaryCualitativa.denominacionCodificacionFonologica}}<br *ngIf="summaryCualitativa.denominacionProcesamientoLexico!=null">
            {{summaryCualitativa.denominacionProcesamientoLexico}}          --></td>
        </tr>
        <tr>
          <th scope="row">Lectura: </th>
          <td><!--{{summaryCualitativa.lecturaLecturaNoPalabras}}<br *ngIf="summaryCualitativa.lecturaLecturaPalabras!=null">
            {{summaryCualitativa.lecturaLecturaPalabras}}<br *ngIf="summaryCualitativa.lecturaEmparejamientoPalabraEscrita!=null">
            {{summaryCualitativa.lecturaEmparejamientoPalabraEscrita}}<br *ngIf="summaryCualitativa.lecturaComprensionComandoEscrito!=null">
            {{summaryCualitativa.lecturaComprensionComandoEscrito}}--></td>
        </tr>
        <tr>
          <th scope="row">Escritura:</th>
          <td><!--{{summaryCualitativa.escrituraMovilidadManoDominante}}<br *ngIf="summaryCualitativa.escrituraManoNoDominante!=null">
            {{summaryCualitativa.escrituraManoNoDominante}}<br *ngIf="summaryCualitativa.escrituraGrafismo!=null">
            {{summaryCualitativa.escrituraGrafismo}}<br *ngIf="summaryCualitativa.escrituraDeletreo!=null">
            {{summaryCualitativa.escrituraDeletreo}}<br *ngIf="summaryCualitativa.escrituraOrtografia!=null">
            {{summaryCualitativa.escrituraOrtografia}}--></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h5>Conclusiones</h5>
  <hr>
  <span class="ms-4"><i>Se recomienda bla bla bla bla bla bla bla bla bla bla bla. . . .</i></span>
</div>
<div class="row">
  <div class="col-md-6 text-center"><button class="btn btn-info">Descargar Protocolo Completo</button></div>
  <div class="col-md-6 text-center"><button class="btn btn-info">Descargar Resumen Protocolo</button></div>
</div>
