<div class="progress">
  <div *ngIf="Progress >= 0" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 15%; background-color:  #2587AD;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" >Identificación del Paciente</div>
  <div *ngIf="Progress >= 1" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 15%; background-color:  #2587AD; " aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" >Sintomas Neurológicos</div>
  <div *ngIf="Progress >= 2" class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 10%; background-color: #625b83" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >Comprensión Auditiva</div>
  <div *ngIf="Progress >= 3" class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 10%; background-color: #625b83" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >Expresión Oral</div>
  <div *ngIf="Progress >= 4" class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 10%; background-color: #625b83" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >Repetición</div>
  <div *ngIf="Progress >= 5" class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 10%; background-color: #625b83" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >Denominación</div>
  <div *ngIf="Progress >= 6" class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 10%; background-color: #625b83" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >Lectura</div>
  <div *ngIf="Progress >= 7" class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 10%; background-color: #625b83" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >Escritura</div>
  <div *ngIf="Progress >= 8" class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 10%; background-color:  #2587AD;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" >Resumen</div>
</div>
<app-patient-identification
[protocolEntry]="PatientIdentification"
[dataEntry]="Progress"
(event)="progressEvent($event)"
(protocolPatien)="chargePatientIdentificator($event)"
*ngIf="Progress==0" ></app-patient-identification>

<app-current-neurological-symptoms
[symptomsEntry]="Prot.SintomasNeurologicos"
(event)="progressEvent($event)"
*ngIf="Progress==1"></app-current-neurological-symptoms>
<app-auditive-comprehension
  [auditivecuantitativa]="Prot.ComprensionAuditiva_Cuantitativa"
  [auditivecualitativa]="Prot.ComprensionAuditiva_Cualitativa"
  (emitCualitativa)="chargeAuditiveCuantitativa($event)"
  (emitCuantitativa)="chargeAuditiveCuantitativa($event)"
  (event)="progressEvent($event)"
  *ngIf="Progress==2"></app-auditive-comprehension>
<app-oral-expression
  (event)="progressEvent($event)"
  [oralcuantitativa]="Prot.ExpresionOral_Cuantitativa"
  [oralcualitativa]="Prot.ExpresionOral_Cualitativa"
  (emitCualitativa)="chargeOralCuantitativa($event)"
  (emitCuantitativa)="chargeOralCuantitativa($event)"
  *ngIf="Progress==3"></app-oral-expression>
<app-repetition
  (event)="progressEvent($event)"
  [repeticioncuantitativa]="Prot.Repeticion_Cuantitativa"
  [repeticioncualitativa]="Prot.Repeticion_Cualitativa"
  (emitCualitativa)="chargeRepeticionCualitativa($event)"
  (emitCuantitativa)="chargeRepeticionCuantitativa($event)"
  *ngIf="Progress==4"></app-repetition>
<app-denomination
  (event)="progressEvent($event)"
  [denominacioncuantitativa]="Prot.Denominacion_Cuantitativa"
  [denominacioncualitativa]="Prot.Denominacion_Cualitativa"
  (emitCualitativa)="chargeDeniminacionCualitativa($event)"
  (emitCuantitativa)="chargeDenominacionCuantitativa($event)"
  *ngIf="Progress==5"></app-denomination>
<app-reading
  (event)="progressEvent($event)"
  [lecturacuantitativa]="Prot.Lectura_Cuantitativa"
  [lecturacualitativa]="Prot.Lectura_Cualitativa"
  (emitCualitativa)="chargeReadingCualitativa($event)"
  (emitCuantitativa)="chargeReadingCuantitativa($event)"
  *ngIf="Progress==6"></app-reading>
<app-writing
(event)="progressEvent($event)"
[escrituracuantitativa]="Prot.Escritura_Cuantitativa"
[escrituracualitativa]="Prot.Escritura_Cualitativa"
(emitCualitativa)="chargeWritingCualitativa($event)"
(emitCuantitativa)="chargeWritingCuantitativa($event)"
*ngIf="Progress==7"></app-writing>
<app-test-summary
(event)="progressEvent($event)"
[protocol]="Prot"
(sendProtocol)="sendProtocol($event)"
*ngIf="Progress==8"></app-test-summary>


