<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Ayuda: </strong> bla bla bla bla bla.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



<div class="container-sm bg-success bg-gradient mt-3 text-white border text-center shadow-lg p-3 mb-5 bg-body rounded">
  <h3>Registrar Nuevo Paciente</h3>
  <hr />
  <form class="row needs-validation" autocomplete="off" [formGroup]="forma" (ngSubmit)="crearPaciente()">
    <div class="form-floating col-md-6">
      <input class="form-control" type="text" placeholder="Ej: MES" name="iniciales" formControlName="iniciales"
        for="iniciales" />
      <label for="iniciales" class="lb"> Iniciales del Paciente</label>
    </div>
    <div class="col-md-6 form-floating">
      <input class="form-control" type="date" name="nacimiento" formControlName="nacimiento" for="nacimiento" />
      <label for="nacimiento" class="lb">Fecha de Nacimiento</label>
    </div >

    <div class="col-md-6 form-floating mt-3">
      <select class="form-select" name="lengua" formControlName="lengua" for="lengua">
        <option selected disabled>Seleccione una opcion</option>
        <option *ngFor="let leng of lengua" [value]="leng">{{ leng }}</option>
      </select>
      <label for="lengua" class="lb">Lengua Materna: </label>
    </div>
    <div class="form-floating col-md-6 mt-3" *ngIf="forma.value.lengua=='Otro (Especificar)'">
      <input class="form-control" type="text" placeholder="¿Cual?" name="lenguaotra" formControlName="lenguaotra"
        for="lenguaotra" />
      <label for="lenguaotra" class="lb"> ¿Cual?</label>
    </div>

    <div class="col-md-6 form-floating mt-3">
      <select class="form-select" name="dominancia" formControlName="dominancia" for="dominancia">
        <option selected disabled>Seleccione una opcion</option>
        <option *ngFor="let dom of dominancia" [value]="dom">{{ dom }}</option>
      </select>
      <label for="dominancia" class="lb">Dominancia Manual: </label>
    </div>
    <div class="col-md-6 form-floating mt-3">
      <select class="form-select" name="estudios" formControlName="estudios" for="estudios">
        <option selected disabled>Seleccione una opcion</option>
        <option *ngFor="let est of estudios" [value]="est">{{ est }}</option>
      </select>
      <label for="estudios" class="lb">Estudios: </label>
    </div>
    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-outline-light">
        Registrar Paciente
      </button>
    </div>
  </form>
</div>
{{forma.value | json}}
