<div class="container-sm bg-success bg-gradient mt-3 border shadow-lg p-3 mb-5 bg-body rounded">
  <div class="text-center">
    <h3>Registrar Nuevo Paciente</h3>
  </div>
  <hr />
    <div class="row  ">
    <div class="col-auto">
      <label for="iniciales" class="form-label "> Iniciales del Paciente</label>
      <input class="form-control" type="text" placeholder="Ej: MES" name="iniciales" id="iniciales" [(ngModel)]="patient.initials"/>
      </div>
    <div class="col-auto ">
      <label for="nacimiento" class="form-label ">Fecha de Nacimiento</label>
      <input class="form-control" type="date" name="nacimiento" id="nacimiento" [(ngModel)]="patient.brithDate"/>
    </div >
    <div class="col-auto" >
      <label for="lengua" class="form-label ">Lengua Materna </label>
      <select class="form-select" name="lengua"  id="lengua" [(ngModel)]="patient.nativeLanguage">
        <option [selected]="true" [disabled]="true" [ngValue]="null" >Seleccione una opcion</option>
        <option *ngFor="let option of registerOptions.lengua" [ngValue]="option.value">{{ option.description }}</option>
      </select>
    </div>
    <div class="col-auto"  >
      <label for="lenguaotra" class=" form-label"> ¿Cual?</label>
      <input class="form-control" type="text" placeholder="¿Cual?" name="lenguaotra" [(ngModel)]="patient.otherLenguage"
        id="lenguaotra" [disabled]="patient.nativeLanguage!=3">
    </div>
    <div class="col-auto" >
      <label for="bilingue" class="form-label ">¿Es bilingüe?</label>
      <select class="form-select" name="bilingue" id="biligue" [(ngModel)]="patient.isBilingual">
        <option [selected]="true" [disabled]="true" [ngValue]="null">Seleccione una opcion</option>
        <option *ngFor="let option of registerOptions.bilingue" [ngValue]="option.value">{{option.description}}</option>
      </select>
    </div>
    <div class="col-auto"  >
      <label for="bilingueCual" class=" form-label"> ¿Idioma?</label>
      <input class="form-control" type="text" placeholder="¿Idioma?" name="bilingueCual" [(ngModel)]="patient.bilingualLanguage"
        id="bilingueCual" [disabled]="patient.isBilingual!=1"/>
    </div>
    <div class="col-auto">
      <label for="dominancia" class="form-label ">Dominancia Manual: </label>
      <select class="form-select" name="dominancia" id="dominancia" [(ngModel)]="patient.handDominance">
        <option [selected]="true" [disabled]="true" [ngValue]="null">Seleccione una opcion</option>
        <option *ngFor="let option of registerOptions.dominancia" [ngValue]="option.value">{{ option.description }}</option>
      </select>
    </div>
    <div class="col-auto">
      <label for="estudios" class=" form-label">Estudios: </label>
      <select class="form-select" name="estudios" id="estudios" [(ngModel)]="patient.studies">
        <option [selected]="true" [disabled]="true" [ngValue]="null">Seleccione una opcion</option>
        <option *ngFor="let option of registerOptions.estudios" [ngValue]="option.value" >{{ option.description }}</option>
      </select>
    </div>
    <div class="col-12 mt-4 text-center ">
      <button type="submit" class="btn btn-outline-light">
        Registrar Paciente
      </button>
    </div>
  </div>
</div>

