<div class="container-sm mt-3  text-white border shadow-lg p-3 mb-5 rounded" style="background-color: #ad2525;">
  <div class="text-center">
    <h3>Registrar Nuevo Paciente</h3>
  </div>
  <hr />
    <div class="row  ">
    <div class="col-auto">
      <label for="iniciales" class="form-label "> Iniciales del Paciente</label>
      <input class="form-control" type="text" placeholder="Ej: MES" name="iniciales" id="iniciales" [(ngModel)]="patient.initials" (keyup)="convertirMayuscula()" />
      </div>
    <div class="col-auto ">
      <label for="nacimiento" class="form-label ">Fecha de Nacimiento</label>
      <input class="form-control" type="date" name="nacimiento" id="nacimiento" [(ngModel)]="patient.brithDate"/>
    </div >
    <div class="col-auto" >
      <label for="lengua" class="form-label ">Lengua Materna </label>
      <select class="form-select" name="lengua"  id="lengua" [(ngModel)]="patient.nativeLanguage">
        <option [selected]="true" [disabled]="true" [ngValue]="null" >Seleccione una opcion</option>
        <option *ngFor="let option of registerOptions.lengua" [ngValue]="option.value">{{ option.description }}</option>
      </select>
    </div>
    <div class="col-auto"  >
      <label for="lenguaotra" class=" form-label"> ¿Cual?</label>
      <input class="form-control" type="text" placeholder="¿Cual?" name="lenguaotra" [(ngModel)]="patient.otherLenguage"
        id="lenguaotra" [disabled]="patient.nativeLanguage!=3">
    </div>
    <div class="col-auto" >
      <label for="bilingue" class="form-label ">¿Es bilingüe?</label>
      <select class="form-select" name="bilingue" id="biligue" [(ngModel)]="patient.isBilingual">
        <option [selected]="true" [disabled]="true" [ngValue]="null">Seleccione una opcion</option>
        <option *ngFor="let option of registerOptions.bilingue" [ngValue]="option.value">{{option.description}}</option>
      </select>
    </div>
    <div class="col-auto"  >
      <label for="bilingueCual" class=" form-label"> ¿Idioma?</label>
      <input class="form-control" type="text" placeholder="¿Idioma?" name="bilingueCual" [(ngModel)]="patient.bilingualLanguage"
        id="bilingueCual" [disabled]="patient.isBilingual!=true"/>
    </div>
    <div class="col-auto">
      <label for="dominancia" class="form-label ">Dominancia Manual: </label>
      <select class="form-select" name="dominancia" id="dominancia" [(ngModel)]="patient.handDominance">
        <option [selected]="true" [disabled]="true" [ngValue]="null">Seleccione una opcion</option>
        <option *ngFor="let option of registerOptions.dominancia" [ngValue]="option.value">{{ option.description }}</option>
      </select>
    </div>
    <div class="col-auto">
      <label for="estudios" class=" form-label">Estudios: </label>
      <select class="form-select" name="estudios" id="estudios" [(ngModel)]="patient.studies">
        <option [selected]="true" [disabled]="true" [ngValue]="null">Seleccione una opcion</option>
        <option *ngFor="let option of registerOptions.estudios" [ngValue]="option.value" >{{ option.description }}</option>
      </select>
    </div>
    <div class="col-12 mt-4 text-center ">
      <button type="submit" class="btn btn-light" (click)="crearPaciente(patientRegister)">
        Registrar Paciente
      </button>
      <button type="submit" class="btn btn-info ms-5" (click)="clearForm()">
        Limpiar Formulario
      </button>
    </div>
  </div>
</div>


<!--Pop Up wait patient register-->
<ng-template #patientRegister let-modal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden" >Loading...</span>
      </div>
      <span style="font-size:  2rem; margin-bottom: 1rem; margin-left: 1rem;"> Registrando Paciente, por favor espere unos segundos... </span>
    </div>
  </div>
</ng-template>
