<div class="container-sm mt-2 bg-info bg-gradient border shadow-lg p-3 mb-5 bg-body rounded">
  <div class="text-center">
    <h2>Nuevo Protocolo - Síntomas Neurológicos Actuales</h2>
  </div>
  <hr />
  <!--Alerta-->
  <div class="row mt-1">
    <div class="col-md-2 ">
      <h6>Alerta:</h6>
    </div>
    <div class="col-md-2 ">
      <div class="form-check ">
        <input class="form-check-input" type="radio" id="alteradoConservado" name="alterado" value="CONSERVADO"
          [(ngModel)]="symptoms.Alerta" (change)="clearAlerta()"/>
        <label class="form-check-label" for="alteradoConservado">Conservado</label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" id="alteradoAlterado" name="alterado" value="ALTERADO"
          [(ngModel)]="symptoms.Alerta" />
        <label class="form-check-label" for="alteradoAlterado">Alterado</label>
      </div>
    </div>
    <div class="col-md-5" *ngIf="symptoms.Alerta === 'ALTERADO'">
          <label for="alertaDropdown" class="form-label ">Tipo de alteracion</label>
          <select class="form-select" id="alertaDropdown" name="alertaDropdown" [(ngModel)]="symptoms.AlertaTipoAlteracion"
          (change)="clearAlertaCual()">
            <option [disabled]="true" [selected]="true" [ngValue]="null">Seleccione un tipo de alteracion</option>
            <option *ngFor="let alert of dropdownOptions.alertaOpciones" [ngValue]="alert">{{alert}} </option>
          </select>
    </div>
    <div class="col-md-3" *ngIf="symptoms.AlertaTipoAlteracion === 'Otro'"     >
      <div class=" ">
        <label for="alertaOtraAlteracion" class="¿Cual?">¿Cual?</label>
        <input type="text" class="form-control" id="alertaOtraAlteracion" name="alertaOtraAlteracion"
          placeholder="¿Cual?" [(ngModel)]="symptoms.AlertaTipoAlteracionOtro" />
      </div>
    </div>
  </div>
  <hr class="mt-1 " />
  <!--Estado emocional-->
  <div class="row mt-1">
    <div class="col-md-2">
      <h6>Estado emocional:</h6>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="estadoEmocional" name="estadoEmocional" value="CONSERVADO"
          [(ngModel)]="symptoms.EstadoEmocional" (change)="clearEstadoEmocional()"/>
        <label class="form-check-label" for="estadoEmocional">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="estadoEmocional2" name="estadoEmocional" value="ALTERADO"
          [(ngModel)]="symptoms.EstadoEmocional" />
        <label class="form-check-label" for="estadoEmocional2">Alterado</label>
      </div>
    </div>
    <div class="col-md-5 " *ngIf="symptoms.EstadoEmocional === 'ALTERADO'">
      <label for="estadoEmocionalDropdown" class="form-label">Tipo de alteracion</label>
      <select class="form-select" name="estadoEmocionalDropdown" id="estadoEmocionalDropdown"
        [(ngModel)]="symptoms.EstadoEmocionalTipoAlteracion" (change)="clearEstadoEmocionalCual()">
        <option [disabled]="true" [selected]="true" [ngValue]="null"  >Seleccione un tipo de alteracion</option>
        <option *ngFor="let estado of dropdownOptions.estadoEmocionalOpciones" [ngValue]="estado">{{estado}}</option>
      </select>
    </div>
    <div class="col-md-3" *ngIf="symptoms.EstadoEmocionalTipoAlteracion === 'Otro'">
      <label for="estadoEmocionalOtrasAlteraciones" class="form-label">¿Cual?</label>
      <input type="text" class="form-control" id="estadoEmocionalOtrasAlteraciones"
        [(ngModel)]="symptoms.EstadoEmocionalTipoAlteracionOtro" name="estadoEmocionalOtrasAlteraciones"
        placeholder="¿Cual?" />
    </div>
  </div>
  <hr class="mt-1" />
  <!--Fuerza-->
  <div class="row mt-1">
    <div class="col-md-2">
      <h6>Fuerza:</h6>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="fuerza" name="fuerza" value="CONSERVADO"
          [(ngModel)]="symptoms.Fuerza" (change)="clearFuerza()" />
        <label class="form-check-label" for="fuerza">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="fuerza2" name="fuerza" value="ALTERADO"
          [(ngModel)]="symptoms.Fuerza" />
        <label class="form-check-label" for="fuerza2">Alterado</label>
      </div>
    </div>
    <div class="col-md-5 " *ngIf="symptoms.Fuerza === 'ALTERADO'">
      <label for="fuerzaopcion" class=" form-label">Tipo de alteracion</label>
      <select class="form-select" name="fuerzaOpcion" id="fuerzaopcion" [(ngModel)]="symptoms.FuerzaTipoAlteracion"
      (change)="clearFuerzaCual()">
        <option [disabled]="true"  [ngValue]="null" [selected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let fuerza of dropdownOptions.fuerzaOpciones" [ngValue]="fuerza">{{fuerza}}</option>
      </select>
    </div>
    <div class="col-md-3 " *ngIf="symptoms.FuerzaTipoAlteracion === 'Otro'">
      <label class=" form-label " for="fuerzaopcion2"  >¿Cual?</label>
      <input type="text" class="form-control" id="fuerzaopcion2" name="fuerzaOpcionOtro" placeholder="¿Cual?"
        [(ngModel)]="symptoms.FuerzaTipoAlteracionOtro" />
    </div>
  </div>
  <hr class="mt1" />
  <!--Coordinacion Motora-->
  <div class="row mt-1">
    <div class="col-md-2">
      <h6>Coordinación motora:</h6>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="coordinacionc" name="coordinacionmotora" value="CONSERVADO"
          [(ngModel)]="symptoms.CondicionMotora" (change)="clearCoordinacion()" />
        <label class="form-check-label" for="coordinacionc">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="coordinacionc2" name="coordinacionmotora" value="ALTERADO"
          [(ngModel)]="symptoms.CondicionMotora" />
        <label class="form-check-label" for="coordinacionc2">Alterado</label>
      </div>
    </div>
    <div class="col-md-5 " *ngIf="symptoms.CondicionMotora === 'ALTERADO'">
      <label for="fuerzaopcion" class=" form-label ">Tipo de alteracion</label>
      <select class="form-select" name="coordinacionmotoraOpcion" id="coordinacioncopcion"
        [(ngModel)]="symptoms.CondicionMotoraTipoAlteracion" (change)="clearCoordinacionCual()">
        <option [disabled]="true" [ngValue]="null" [selected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let coordinacion of dropdownOptions.coordinacioncOpciones" [ngValue]="coordinacion">
          {{coordinacion}}</option>
      </select>
    </div>
    <div class="col-md-3 " *ngIf="symptoms.CondicionMotoraTipoAlteracion === 'Otro'">
      <label for="coordinacioncopcion2" class="form-label">¿Cual?</label>
      <input type="text" class="form-control" id="coordinacioncopcion2" name="coordinacionmotoraOpcionOtro"
        placeholder="¿Cual?" [(ngModel)]="symptoms.CondicionMotoraTipoAlteracionOtro" />
    </div>
  </div>
  <hr class="mt-1" />
  <!--Sensibilidad-->
  <div class="row mt-1">
    <div class="col-md-2">
      <h6>Sensibilidad:</h6>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="sensibilidad" name="sensibilidad" value="CONSERVADO"
          [(ngModel)]="symptoms.Sensibilidad" (change)="clearSensibilidad()"  />
        <label class="form-check-label" for="sensibilidad">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="sensibilidad2" name="sensibilidad" value="ALTERADO"
          [(ngModel)]="symptoms.Sensibilidad" />
        <label class="form-check-label" for="sensibilidad2">Alterado</label>
      </div>
    </div>
    <div class="col-md-5 " *ngIf="symptoms.Sensibilidad === 'ALTERADO'">
      <label for="fuerzaopcion" class="form-label">Tipo de alteracion</label>
      <select class="form-select" name="sensibilidadOpcion" id="sensibilidadopcion"
        [(ngModel)]="symptoms.SensibilidadTipoAlteracion" (change)="clearSensibilidadCual()">
        <option [disabled]="true" [selected]="true" [ngValue]="null" >Seleccione un tipo de alteracion</option>
        <option *ngFor="let sensibilidad of dropdownOptions.sensibilidadOpciones" [ngValue]="sensibilidad">
          {{sensibilidad}} </option>
      </select>
    </div>
    <div class="col-md-3" *ngIf="symptoms.SensibilidadTipoAlteracion">
      <label for="sensibilidadopcion2" class="form-label">¿Cual?</label>
      <input type="text" class="form-control" id="sensibilidadopcion2" name="sensibilidadOpcionOtro"
        placeholder="¿Cual?" [(ngModel)]="symptoms.SensibilidadTipoAlteracionOtro" />
    </div>
  </div>
  <hr class="mt-1" />
  <!--Vision-->
  <div class="row mt-1">
    <div class="col-md-2">
      <h6>Visión:</h6>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="vision" name="vision" value="CONSERVADO"
          [(ngModel)]="symptoms.Vision" (change)="clearVision()" />
        <label class="form-check-label" for="vision">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="vision2" name="vision" value="ALTERADO"
          [(ngModel)]="symptoms.Vision" />
        <label class="form-check-label" for="vision2">Alterado</label>
      </div>
    </div>
    <div class="col-md-5" *ngIf="symptoms.Vision === 'ALTERADO'">
      <label for="visionopcion" class="form-label">Tipo de alteracion</label>
      <select class="form-select" name="visionOpcion" id="visionopcion" [(ngModel)]="symptoms.VisionTipoAlteracion">
        <option [disabled]="true" [selected]="true"  [ngValue]="null" >Seleccione un tipo de alteracion</option>
        <option *ngFor="let vision of dropdownOptions.visionOpciones" [ngValue]="vision">{{vision}}</option>
      </select>
    </div>
    <div class="col-md-3 " *ngIf="symptoms.Vision === 'ALTERADO'">
      <label for="visionopcion2" class="form-label">¿Usa Lentes?</label>
      <select class="form-select" name="visionopcion2" id="visionopcion2" [(ngModel)]="symptoms.VisionTipoAlteracionOtro">
        <option [disabled]="true" [selected]="true"  [ngValue]="null" >Seleccione una respuesta</option>
        <option [ngValue]="'Si'">Si</option>
        <option [ngValue]="'No'">No</option>
      </select>
    </div>
  </div>
  <hr class="mt-1" />
  <!--Audicion-->
  <div class="row mt-1">
    <div class="col-md-2">
      <h6>Audición:</h6>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="audicion" name="audicion" value="CONSERVADO"
          [(ngModel)]="symptoms.Audicion"  (change)="clearAudicion()"/>
        <label class="form-check-label" for="audicion">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="audicion2" name="audicion" value="ALTERADO"
          [(ngModel)]="symptoms.Audicion" />
        <label class="form-check-label" for="audicion2">Alterado</label>
      </div>
    </div>
    <div class="col-md-5" *ngIf="symptoms.Audicion === 'ALTERADO'">
      <label for="audicionopcion" class="form-label">Tipo de alteracion</label>
      <select class="form-select" name="audicionOpcion" id="audicionopcion"
        [(ngModel)]="symptoms.AudicionTipoAlteracion">
        <option [disabled]="true" [ngValue]="null"[selected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let audicion of dropdownOptions.audicionOpciones" [ngValue]="audicion" >{{audicion}}</option>
      </select>
    </div>
    <div class="col-md-3" *ngIf="symptoms.Audicion === 'ALTERADO'">
      <label for="audicionopcion2" class="form-label" >¿Usa Audifono?</label>
      <select class="form-select" name="audicionopcion2" id="audicionopcion2" [(ngModel)]="symptoms.AudicionTipoAlteracionOtro">
        <option [disabled]="true" [selected]="true"  [ngValue]="null" >Seleccione una respuesta</option>
        <option [ngValue]="'Si'">Si</option>
        <option [ngValue]="'No'">No</option>
      </select>
    </div>
  </div>
  <hr class="mt-1" />
  <!--Atención espacial-->
  <div class="row mt-1">
    <div class="col-md-2">
      <h6>Atención espacial:</h6>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="atencionespacial" name="atencionespacial" value="CONSERVADO"
          [(ngModel)]="symptoms.AtencionEspacial" (change)="clearAtencionEspacial()" />
        <label class="form-check-label" for="atencionespacial">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="atencionespacial2" name="atencionespacial" value="ALTERADO"
          [(ngModel)]="symptoms.AtencionEspacial" />
        <label class="form-check-label" for="atencionespacial2">Alterado</label>
      </div>
    </div>
    <div class="col-md-5" *ngIf="symptoms.AtencionEspacial ==='ALTERADO'">
      <label for="atencionespacialopcion" class="form-label">Tipo de alteracion</label>
      <select class="form-select" name="atencionespacialOpcion" id="atencionespacialOpcion"
        [(ngModel)]="symptoms.AtencionEspacialTipoAlteracion">
        <option [disabled]="true" [ngValue]="null" [selected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let atencionEspacial of dropdownOptions.atencionespacialOpciones" [ngValue]="atencionEspacial">
          {{atencionEspacial}}</option>
      </select>
    </div>
  </div>
  <hr class="mt-1" />
  <!--Praxia manual-->
  <div class="row mt-1">
    <div class="col-md-2">
      <h6>Praxia manual:</h6>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="praxiamanual" name="praxiaManual" value="CONSERVADO"
          [(ngModel)]="symptoms.PraxiaManual" (change)="clearPraxiaManual()"/>
        <label class="form-check-label" for="praxiamanual">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="praxiamanual2" name="praxiaManual" value="ALTERADO"
          [(ngModel)]="symptoms.PraxiaManual" />
        <label class="form-check-label" for="praxiamanual2">Alterado</label>
      </div>
    </div>
    <div class="col-md-5" *ngIf="symptoms.PraxiaManual==='ALTERADO'">
      <label for="praxiamanualopcion" class="form-label">Tipo de alteracion</label>
      <select class="form-select" name="praxiaManualOpcion" id="praxiamanualopcion"
        [(ngModel)]="symptoms.PraxiaManualTipoAlteracion">
        <option [disabled]="true" [selected]="true" [ngValue]="null" >Seleccione un tipo de alteracion</option>
        <option *ngFor="let praxiaManual of dropdownOptions.praxiamanualOpciones" [ngValue]="praxiaManual">
          {{praxiaManual}}</option>
      </select>

    </div>
  </div>
  <hr class="mt-1" />
  <!--Praxia orolinguofaciales-->
  <div class="row mt-1">
    <div class="col-auto">
      <h6>Praxia orolinguofaciales:</h6>
    </div>
    <div class="col-auto">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="praxiaorolinguofaciales" name="praxiaOrolinguofaciales"
          value="CONSERVADO" [(ngModel)]="symptoms.PraxiaOrolinguofaciales" />
        <label class="form-check-label" for="praxiaorolinguofaciales">Conservado</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="praxiaorolinguofaciales2" name="praxiaOrolinguofaciales"
          value="ALTERADO" [(ngModel)]="symptoms.PraxiaOrolinguofaciales" />
        <label class="form-check-label" for="praxiaorolinguofaciales2">Alterado</label>
      </div>
    </div>
  </div>
  <hr class="mt-1" />
  <!--Deglución-->
  <div class="row mt-1">
    <div class="col-md-2">
      <h6>Deglución:</h6>
    </div>
    <div class="col-md-2">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="deglución" name="deglucion" value="CONSERVADO"
          [(ngModel)]="symptoms.Deglucion" (change)="clearDeglucion()" />
        <label class="form-check-label" for="deglución">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="deglucion2" name="deglucion" value="ALTERADO"
          [(ngModel)]="symptoms.Deglucion" />
        <label class="form-check-label" for="deglucion2">Alterado</label>
      </div>
    </div>
    <div class="col-md-5" *ngIf="symptoms.Deglucion ==='ALTERADO'">
      <label for="deglucionopcion" class="ml-3">Tipo de alteracion</label>
      <select class="form-select" name="deglucionOpcion" id="deglucionopcion"
        [(ngModel)]="symptoms.DeglucionTipoAlteracion">
        <option [disabled]="true" [ngValue]="null" [selected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let deglucion of dropdownOptions.deglucionOpciones" [ngValue]="deglucion">{{deglucion}}</option>
      </select>
    </div>
  </div>
  <hr class="mt-2" />
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-success" (click)="back()" >Anterior</button>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success" (click)="next()"  >Siguiente</button>
    </div>
  </div>
</div>
