<div class="container-sm mt-2 bg-info bg-gradient border shadow-lg p-3 mb-5 bg-body rounded">
  <div class="text-center">
    <h2>Nuevo Protocolo - Síntomas Neurológicos Actuales</h2>
  </div>
  <hr />
  <!--Alerta-->
  <div class="row mt-2">
    <div class="col-md-2 ">
      <h6>Alerta:</h6>
    </div>
    <div class="col-md-3 ">
      <div class="form-check ">
        <input class="form-check-input" type="radio" id="alteradoConservado" name="alterado" value="CONSERVADO"
          [(ngModel)]="symptoms.Alerta" />
        <label class="form-check-label" for="alteradoConservado">Conservado</label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" id="alteradoAlterado" name="alterado" value="ALTERADO"
          [(ngModel)]="symptoms.Alerta" />
        <label class="form-check-label" for="alteradoAlterado">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.Alerta === 'ALTERADO'">
      <select class="form-select" id="alertaDropdown" name="alertaDropdown" [(ngModel)]="symptoms.AlertaTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let alert of dropdownOptions.alertaOpciones" [value]="alert">{{alert}} </option>
      </select>
      <label for="AlertaDropdown" class="ml-3">Tipo de alteracion</label>
    </div>
    <div class="col-md-3" *ngIf="symptoms.AlertaTipoAlteracion === 'Otro'">
      <div class="form-floating ">
        <input type="text" class="form-control" id="alertaOtraAlteracion" name="alertaOtraAlteracion"
          placeholder="¿Cual?" [(ngModel)]="symptoms.AlertaTipoAlteracionOtro" />
        <label for="alertaOtraAlteracion">¿Cual?</label>
      </div>
    </div>
  </div>
  <hr class="mt-2" />
  <!--Estado emocional-->
  <div class="row mt-2">
    <div class="col-md-2">
      <h6>Estado emocional:</h6>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="estadoEmocional" name="estadoEmocional" value="CONSERVADO"
          [(ngModel)]="symptoms.EstadoEmocional" />
        <label class="form-check-label" for="estadoEmocional">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="estadoEmocional2" name="estadoEmocional" value="ALTERADO"
          [(ngModel)]="symptoms.EstadoEmocional" />
        <label class="form-check-label" for="estadoEmocional2">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.EstadoEmocional === 'ALTERADO'">
      <select class="form-select" name="estadoEmocionalDropdown" id="estadoEmocionalDropdown"
        [(ngModel)]="symptoms.EstadoEmocionalTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let estado of dropdownOptions.estadoEmocionalOpciones" [value]="estado">{{estado}}</option>
      </select>
      <label for="estadoEmocionalDropdown" class="ml-3">Tipo de alteracion</label>
    </div>
    <div class="col-md-3 form-floating" *ngIf="symptoms.EstadoEmocionalTipoAlteracion === 'Otro'">
      <input type="text" class="form-control" id="estadoEmocionalOtrasAlteraciones"
        [(ngModel)]="symptoms.EstadoEmocionalTipoAlteracionOtro" name="estadoEmocionalOtrasAlteraciones"
        placeholder="¿Cual?" />
      <label for="estadoEmocionalOtrasAlteraciones" class="ml-3">¿Cual?</label>
    </div>
  </div>
  <hr class="mt-2" />
  <!--Fuerza-->
  <div class="row mt-2">
    <div class="col-md-2">
      <h6>Fuerza:</h6>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="fuerza" name="fuerza" value="CONSERVADO"
          [(ngModel)]="symptoms.Fuerza" />
        <label class="form-check-label" for="fuerza">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="fuerza2" name="fuerza" value="ALTERADO"
          [(ngModel)]="symptoms.Fuerza" />
        <label class="form-check-label" for="fuerza2">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.Fuerza === 'ALTERADO'">
      <select class="form-select" name="fuerzaOpcion" id="fuerzaopcion" [(ngModel)]="symptoms.FuerzaTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let fuerza of dropdownOptions.fuerzaOpciones" [value]="fuerza">{{fuerza}}</option>
      </select>
      <label for="fuerzaopcion" class="ml-3">Tipo de alteracion</label>
    </div>
    <div class="col-md-3 form-floating" *ngIf="symptoms.FuerzaTipoAlteracion === 'Otro'">
      <input type="text" class="form-control" id="fuerzaopcion2" name="fuerzaOpcionOtro" placeholder="¿Cual?"
        [(ngModel)]="symptoms.FuerzaTipoAlteracionOtro" />
      <label class="ms-3" for="fuerzaopcion2">¿Cual?</label>
    </div>
  </div>
  <hr class="mt-2" />
  <!--Coordinacion Motora-->
  <div class="row mt-2">
    <div class="col-md-2">
      <h6>Coordinación motora:</h6>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="coordinacionc" name="coordinacionmotora" value="CONSERVADO"
          [(ngModel)]="symptoms.CondicionMotora" />
        <label class="form-check-label" for="coordinacionc">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="coordinacionc2" name="coordinacionmotora" value="ALTERADO"
          [(ngModel)]="symptoms.CondicionMotora" />
        <label class="form-check-label" for="coordinacionc2">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.CondicionMotora === 'ALTERADO'">
      <select class="form-select" name="coordinacionmotoraOpcion" id="coordinacioncopcion"
        [(ngModel)]="symptoms.CondicionMotoraTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let coordinacion of dropdownOptions.coordinacioncOpciones" [value]="coordinacion">
          {{coordinacion}}</option>
      </select>
      <label for="fuerzaopcion" class="ml-3">Tipo de alteracion</label>
    </div>
    <div class="col-md-3 form-floating" *ngIf="symptoms.CondicionMotoraTipoAlteracion === 'Otro'">
      <input type="text" class="form-control" id="coordinacioncopcion2" name="coordinacionmotoraOpcionOtro"
        placeholder="¿Cual?" [(ngModel)]="symptoms.CondicionMotoraTipoAlteracionOtro" />
      <label for="coordinacioncopcion2" class="ms-3">¿Cual?</label>
    </div>
  </div>
  <hr class="mt-2" />
  <!--Sensibilidad-->
  <div class="row mt-2">
    <div class="col-md-2">
      <h6>Sensibilidad:</h6>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="sensibilidad" name="sensibilidad" value="CONSERVADO"
          [(ngModel)]="symptoms.Sensibilidad" />
        <label class="form-check-label" for="sensibilidad">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="sensibilidad2" name="sensibilidad" value="ALTERADO"
          [(ngModel)]="symptoms.Sensibilidad" />
        <label class="form-check-label" for="sensibilidad2">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.Sensibilidad === 'ALTERADO'">
      <select class="form-select" name="sensibilidadOpcion" id="sensibilidadopcion"
        [(ngModel)]="symptoms.SensibilidadTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let sensibilidad of dropdownOptions.sensibilidadOpciones" [value]="sensibilidad">
          {{sensibilidad}} </option>
      </select>
      <label for="fuerzaopcion" class="ml-3">Tipo de alteracion</label>
    </div>
    <div class="col-md-3 form-floating" *ngIf="symptoms.SensibilidadTipoAlteracion">
      <input type="text" class="form-control" id="sensibilidadopcion2" name="sensibilidadOpcionOtro"
        placeholder="¿Cual?" [(ngModel)]="symptoms.SensibilidadTipoAlteracionOtro" />
      <label for="sensibilidadopcion2" class="ms-3">¿Cual?</label>
    </div>
  </div>
  <hr class="mt-2" />

  <!--Vision-->
  <div class="row mt-2">
    <div class="col-md-2">
      <h6>Visión:</h6>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="vision" name="vision" value="CONSERVADO"
          [(ngModel)]="symptoms.Vision" />
        <label class="form-check-label" for="vision">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="vision2" name="vision" value="ALTERADO"
          [(ngModel)]="symptoms.Vision" />
        <label class="form-check-label" for="vision2">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.Vision === 'ALTERADO'">
      <select class="form-select" name="visionOpcion" id="visionopcion" [(ngModel)]="symptoms.VisionTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let vision of dropdownOptions.visionOpciones" [value]="vision">{{vision}}</option>
      </select>
      <label for="visionopcion" class="ml-3">Tipo de alteracion</label>
    </div>
    <div class="col-md-3 form-floating" *ngIf="symptoms.VisionTipoAlteracion==='Otro'">
      <input type="text" class="form-control" id="visionopcion2" name="visionOpcionOtro" placeholder="¿Cual?"
        [(ngModel)]="symptoms.VisionTipoAlteracionOtro" />
      <label for="visionopcion2" class="ms-3">¿Cual?</label>
    </div>
  </div>
  <hr class="mt-2" />
  <!--Audicion-->
  <div class="row mt-2">
    <div class="col-md-2">
      <h6>Audición:</h6>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="audicion" name="audicion" value="CONSERVADO"
          [(ngModel)]="symptoms.Audicion" />
        <label class="form-check-label" for="audicion">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="audicion2" name="audicion" value="ALTERADO"
          [(ngModel)]="symptoms.Audicion" />
        <label class="form-check-label" for="audicion2">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.Audicion === 'ALTERADO'">
      <select class="form-select" name="audicionOpcion" id="audicionopcion"
        [(ngModel)]="symptoms.AudicionTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let audicion of dropdownOptions.audicionOpciones">{{audicion}}</option>
      </select>
      <label for="audicionopcion" class="ml-3">Tipo de alteracion</label>
    </div>
  </div>
  <hr class="mt-2" />

  <!--Atención espacial-->
  <div class="row mt-2">
    <div class="col-md-2">
      <h6>Atención espacial:</h6>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="atencionespacial" name="atencionespacial" value="CONSERVADO"
          [(ngModel)]="symptoms.AtencionEspacial" />
        <label class="form-check-label" for="atencionespacial">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="atencionespacial2" name="atencionespacial" value="ALTERADO"
          [(ngModel)]="symptoms.AtencionEspacial" />
        <label class="form-check-label" for="atencionespacial2">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.AtencionEspacial ==='ALTERADO'">
      <select class="form-select" name="atencionespacialOpcion" id="atencionespacialOpcion"
        [(ngModel)]="symptoms.AtencionEspacialTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let atencionEspacial of dropdownOptions.atencionespacialOpciones" [value]="atencionEspacial">
          {{atencionEspacial}}</option>
      </select>
      <label for="atencionespacialopcion" class="ml-3">Tipo de alteracion</label>
    </div>
  </div>
  <hr class="mt-2" />
  <!--Praxia manual-->
  <div class="row mt-2">
    <div class="col-md-2">
      <h6>Praxia manual:</h6>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="praxiamanual" name="praxiaManual" value="CONSERVADO"
          [(ngModel)]="symptoms.PraxiaManual" />
        <label class="form-check-label" for="praxiamanual">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="praxiamanual2" name="praxiaManual" value="ALTERADO"
          [(ngModel)]="symptoms.PraxiaManual" />
        <label class="form-check-label" for="praxiamanual2">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.PraxiaManual==='ALTERADO'">
      <select class="form-select" name="praxiaManualOpcion" id="praxiamanualopcion"
        [(ngModel)]="symptoms.PraxiaManualTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let praxiaManual of dropdownOptions.praxiamanualOpciones" [value]="praxiaManual">
          {{praxiaManual}}</option>
      </select>
      <label for="praxiamanualopcion" class="ml-3">Tipo de alteracion</label>
    </div>
  </div>
  <hr class="mt-2" />
  <!--Praxia orolinguofaciales-->
  <div class="row mt-2">
    <div class="col-md-4">
      <h6>Praxia orolinguofaciales:</h6>
    </div>
    <div class="col-md-6">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="praxiaorolinguofaciales" name="praxiaOrolinguofaciales"
          value="CONSERVADO" />
        <label class="form-check-label" for="praxiaorolinguofaciales">Conservado</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="praxiaorolinguofaciales2" name="praxiaOrolinguofaciales"
          value="ALTERADO" />
        <label class="form-check-label" for="praxiaorolinguofaciales2">Alterado</label>
      </div>
    </div>
  </div>
  <hr class="mt-2" />
  <!--Deglución-->
  <div class="row mt-2">
    <div class="col-md-2">
      <h6>Deglución:</h6>
    </div>
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="deglución" name="deglucion" value="CONSERVADO"
          [(ngModel)]="symptoms.Deglucion" />
        <label class="form-check-label" for="deglución">Conservado</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="deglucion2" name="deglucion" value="ALTERADO"
          [(ngModel)]="symptoms.Deglucion" />
        <label class="form-check-label" for="deglucion2">Alterado</label>
      </div>
    </div>
    <div class="col-md-4 form-floating" *ngIf="symptoms.Deglucion ==='ALTERADO'">
      <select class="form-select" name="deglucionOpcion" id="deglucionopcion"
        [(ngModel)]="symptoms.DeglucionTipoAlteracion">
        <option [disabled]="true" [defaultSelected]="true">Seleccione un tipo de alteracion</option>
        <option *ngFor="let deglucion of dropdownOptions.deglucionOpciones" [value]="deglucion">{{deglucion}}</option>
      </select>
      <label for="deglucionopcion" class="ml-3">Tipo de alteracion</label>
    </div>
  </div>
  <hr class="mt-2" />
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-success" (click)="back()" >Anterior</button>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success" (click)="next()"  >Siguiente</button>
    </div>
  </div>
</div>
