<button type="button" class="btn btn-outline-danger ms-2" (click)="open(register)">
  Registrarse
</button>
<ng-template #register let-modal>
  <div class="modal-header">
    <h4>Formulario de Registro del Profesional</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h6>Datos Personales</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="apellido" placeholder="Apellido" [(ngModel)]="register1.apellido" />
      </div>
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="register1.nombre"/>
      </div>
    </div>
    <div class="row " >
      <div class="col-md-4">
        <label for="profesion" class="form-label">Profesion</label>
        <select class="form-select" name="profesion" [(ngModel)]="register1.profesion">
          <option [ngValue]=null disabled selected>Seleccione una Profesion</option>
          <option *ngFor="let prof of profesion" [ngValue]=prof.value>{{prof.description}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="matricula" class="form-label">¿Cual?</label>
        <input type="text" class="form-control" name="Otro" placeholder="¿Cual?" [disabled]="register1.profesion!=4"
        [(ngModel)]="register1.cual"/>
      </div>
      <div class="col-md-4">
        <label for="matricula" class="form-label">Matricula (opcional)</label>
        <input type="text" class="form-control" name="matricula" placeholder="Matricula" [(ngModel)]="register1.matricula" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <h6>Datos de la Cuenta</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="correo" class="form-label">Email</label>
        <input class="form-control" type="email" name="correo" placeholder="Correo Electronico" [(ngModel)]="register1.mail" />
      </div>
      <div class="col-md-4">
        <label for="password1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password1" placeholder="Contraseña" [(ngModel)]="register1.password1" />
      </div>
      <div class="col-md-4">
        <label for="password2" class="form-label">Repita la Contraseña</label>
        <input type="password" class="form-control" name="password2"  placeholder="Repita la Contraseña" [(ngModel)]="register1.password2"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-5 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="tyc"
          [(ngModel)]="register1.terminosycondiciones"/>
          <label class="form-check-label" for="tyc">
            Estoy de acuerdo con los
            <a (click)="open2()" class="termsConditions">Terminos y Condiciones</a>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6 mt-2" >
        <button class="btn btn-success" type="button" (click)="registerUser()" >Registrar</button>
      </div>
      <div class="col-md-6 mt-2">
        <button type="button" class="btn btn-danger" (click)="modal.close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>

</ng-template>
