<div  class="container-sm mt-3 bg-success bg-gradient text-white border shadow-lg p-3 mb-5 bg-body rounded">
  <div class="text-center">
    <h3>Mis Pacientes </h3>
  </div>
  <div class="row container mt-3">
    <div class=" col-md-12 " >
      <label for="exampleDataList" class="form-label">Buscar Paciente:</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
      <datalist id="datalistOptions" >
        <option [ngValue]="0" (click)="fa(1)" >Todos mis pacientes</option>
        <option [ngValue]="1">New York</option>
        <option [ngValue]="2">Seattle</option>
        <option [ngValue]="3">Los Angeles</option>
        <option [ngValue]="4">Chicago</option>
      </datalist>
    </div>
  </div>

  <div class="container mt-3">
    <table class="table table-bordered tabl-striped table-light">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="tableTitle">Id Paciente</th>
          <th scope="col" class="tableTitle">Iniciales</th>
          <th scope="col" class="tableTitle">Fecha Nacimiento</th>
          <th scope="col" class="tableTitle">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">c</th>
          <td>a</td>
          <td>b</td>
          <td>
            <div>
              <button class="btn btn-success m-1 rounded-3" (click)="navigateNewProtocol()">
                Nuevo Protocolo
              </button>
              <button class="btn btn-success ms-1 rounded-3" (click)="allProtocolsByPatient()" >
                Protocolos Previos
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!--Pop Up wait Load Data-->
<ng-template #loadData id="loadData" let-modal let-c="close" let-d="dismiss" >
 <div class="modal-body" style="background-color: rgba(240, 248, 255, 0); ">
    <div class="d-flex justify-content-center">
      <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden" >Loading...</span>
      </div>
      <span style="font-size:  2rem; margin-bottom: 1rem; margin-left: 1rem;"> Recuperando informacion de los pacientes, por favor espere unos segundos... </span>
    </div>
  </div>
</ng-template>
