<div  class="container-sm mt-3 bg-success bg-gradient text-white border shadow-lg p-3 mb-5 bg-body rounded">
  <div class="text-center">
    <h3>Mis Pacientes </h3>
  </div>
  <div class="row container mt-5">
    <div class=" col-md-12 " >
      <label for="exampleDataList" class="form-label">Buscar Paciente:</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
      <datalist id="datalistOptions" >
        <option [ngValue]="0" (click)="fa(1)" >Todos mis pacientes</option>
        <option [ngValue]="1">New York</option>
        <option [ngValue]="2">Seattle</option>
        <option [ngValue]="3">Los Angeles</option>
        <option [ngValue]="4">Chicago</option>
      </datalist>
    </div>
  </div>

  <div class="container mt-3">
    <table class="table table-bordered tabl-striped table-light">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="tableTitle">Id Paciente</th>
          <th scope="col" class="tableTitle">Iniciales</th>
          <th scope="col" class="tableTitle">Fecha Nacimiento</th>
          <th scope="col" class="tableTitle">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">c</th>
          <td>a</td>
          <td>b</td>
          <td>
            <div>
              <button class="btn btn-success m-1 rounded-3" (click)="navigateNewProtocol()">
                Nuevo Protocolo
              </button>
              <button class="btn btn-success ms-1 rounded-3">
                Protocolos Previos
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

